<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome for Foreign Workers</title>
    <link rel="stylesheet" href="../src/css/news.css">
</head>
<body>
    <header>
        <div class="header-content">
            <span class="logo">
                <img src="../src/assets/logo.png">
                <h1>Networker</h1>
            </span>
            <div class="menu">
                <a href="networker.html">홈</a>
                <a href="news.html">정보</a>
                <a href="board.html">자유게시판</a>
                <a href="#">스토어</a>
                <a href="#">법률지원</a>
            </div>
            <div class="auth-buttons">
                <a href="login.html">로그인</a>
                <a href="signup.html">회원가입</a>
                <div class="profile-icon">
                    <a href="profile.html"><img src="../src/assets/profile.png" alt="Profile"></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content-main">
            <div class="news-item-main">
                <img src="../src/assets/건강검진.png" alt="Worker Image">
                <div class="news-content-main">
                    <h2>외국인 노동자를 위한 정기 건강 검진 프로그램 실시</h2>
                    <p>외국인 노동자들의 건강을 지키기 위해 정기 건강 검진 프로그램이 시행됩니다. 이 프로그램은 무료로 제공되며, 노동자들이 건강 문제를 조기에 발견하고 치료할 수 있도록 돕습니다.</p>
                    <a href="https://www.korea.kr/news/policyNewsView.do?newsId=148852814">더 읽기</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="news-item">
                <img src="../src/assets/산업안전.png" alt="Worker Image">
                <div class="news-content">
                    <h2>산업 현장에서 외국인 노동자들의 안전 보장 강화</h2>
                    <p>정부는 외국인 노동자들의 안전을 위해 산업 현장에 새로운 규정을 도입했습니다. 이 규정은 작업 환경의 개선과 안전 장비 제공을 의무화하여 사고를 예방하는 데 중점을 둡니다.</p>
                    <a href="#">더 읽기</a>
                </div>
            </div>
            <div class="news-item">
                <img src="../src/assets/한글수업.png" alt="Worker Image">
                <div class="news-content">
                    <h2>외국인 노동자를 위한 무료 한국어 교육 프로그램 확대</h2>
                    <p>외국인 노동자들의 원활한 소통과 적응을 돕기 위해 정부는 무료 한국어 교육 프로그램을 확대했습니다. 이 프로그램은 다양한 수준의 한국어 수업을 제공하여 노동자들이 일상 생활과 업무에서 더욱 편리하게 소통할 수 있도록 지원합니다.</p>
                    <a href="#">더 읽기</a>
                </div>
            </div>
            <div class="news-item">
                <img src="../src/assets/워크숍참여.png" alt="Worker Image">
                <div class="news-content">
                    <h2>외국인 노동자를 위한 노동 권리 워크숍 개최</h2>
                    <p>외국인 노동자들을 위한 노동 권리 워크숍이 열렸습니다. 이 워크숍은 노동자들에게 자신의 권리를 이해하고 보호할 수 있는 방법을 교육하는 데 중점을 두고 있습니다.
                    </p>
                    <a href="#">더 읽기</a>
                </div>
            </div>
            <div class="news-item">
                <img src="../src/assets/재정교육.png" alt="Worker Image">
                <div class="news-content">
                    <h2>외국인 노동자를 위한 재정 교육 프로그램</h2>
                    <p>외국인 노동자들의 재정 관리를 돕기 위해 재정 교육 프로그램이 시작되었습니다. 이 프로그램은 예산 관리, 저축, 투자 등 다양한 재정 관리 방법을 교육합니다.</p>
                    <a href="#">더 읽기</a>
                </div>
            </div>
            <div class="news-item">
                <img src="../src/assets/팀빌딩.png" alt="Worker Image">
                <div class="news-content">
                    <h2>팀워크 향상을 위한 외국인 노동자 팀 빌딩 활동</h2>
                    <p>외국인 노동자들의 팀워크와 협동심을 높이기 위해 다양한 야외 팀 빌딩 활동이 진행되었습니다. 이 활동은 노동자들이 서로를 이해하고 협력하는 데 도움을 줍니다.</p>
                    <a href="#">더 읽기</a>
                </div>
            </div>
            <div class="news-item">
                <img src="../src/assets/직업상담.png" alt="Worker Image">
                <div class="news-content">
                    <h2>외국인 노동자 지원 센터, 노동 상담 서비스 강화</h2>
                    <p>외국인 노동자들의 권익을 보호하기 위해 노동 상담 서비스가 강화됩니다. 외국인 노동자 지원 센터는 노동자들이 겪는 다양한 문제를 상담하고 해결책을 제시하는 역할을 합니다.</p>
                    <a href="#">더 읽기</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>&copy; 2024 Welcome for Foreign Workers. All rights reserved.</p>
    </footer>
</body>
</html>
