<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3f3cec821.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../src/css/createpost.css">
    <title>네트워커</title>
</head>

<body>
    <header>
        <div class="header-content">
            <a href="/" style="text-decoration: none;">
                <span class="logo">
                    <img src="../src/assets/logo.png">
                    <h1>Networker</h1>
                </span>
            </a>
            <div class="menu">
                <a href="/">홈</a>
                <a href="/views/news.html">정보</a>
                <a href="post/list">자유게시판</a>
                <a href="/views/store.html">스토어</a>
                <a href="/lawsupport/main">법률지원</a>
            </div>
            <div class="auth-buttons">
                <a href="/views/login.html">로그인</a>
                <a href="/views/signup.html">회원가입</a>
                <div class="profile-icon">
                    <a href="/views/profile.html"><img src="../src/assets/profile.png" alt="Profile"></a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <form class="create-post" action="/데이터를처리할URL" method="post">
            <h2 class="page-title">글쓰기</h2>
            <h3>제목</h3>
            <input class="post-title" type="text" name="title" maxlength="30">
            <h3>내용</h3>
            <textarea class="post-body" name="body"></textarea>
            <div class="btn-container">
                <button type="submit" id="post-button" class="btn-post">등록</button>
                <button type="button" id="cancel-button" class="btn-cancel">취소</button>
            </div>
        </form>
    </main>

    <footer>
        <div class="footer-container">
            <ul class="footer-btn">
                <li><a href="#">이용약관</a></li>
                <li><a href="/views/Privacy_Policy.html" style="font-weight: bold;">개인정보처리방침</a></li>
                <li><a href="#">문의/신고</a></li>
                <li><a href="#">광고안내</a></li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript" src="../src/js/createpost.js"></script>
</body>

</html>