<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3f3cec821.js" crossorigin="anonymous"></script>
    <script src="../src/js/lang.js" defer></script>
    <link rel="stylesheet" href="../src/css/shared.css" />
    <link rel="stylesheet" href="../src/css/createpost.css">
    <title>네트워커</title>
</head>

<body>
    <header>
        <div class="header-content">
          <a href="/main" style="text-decoration: none">
            <span class="logo">
              <img src="../src/assets/logo.png" alt="logo" />
              <h1 id="site_title">Networker</h1>
            </span>
          </a>
            <div class="menu">
                <a href="/main" id="menu_home">홈</a>
                <a href="/views/news.html" id="menu_news">정보</a>
                <a href="/post/list" id="menu_board">자유게시판</a>
                <a href="/views/store.html" id="menu_store">스토어</a>
                <a href="/lawsupport/main" id="menu_law">법률지원</a>
                <a href="/views/review.html" id="menu_review">기업리뷰</a>
            </div>
            <div class="auth-buttons">
                <a href="/views/login.html" id="login">로그인</a>
                <a href="/views/signup.html" id="signup">회원가입</a>
                <div class="profile-icon">
                    <a href="/views/profile.html" id="profile-size"
                    ><img src="../src/assets/profile.png" alt="Profile"
                    /></a>
                </div>
            <div class="language-selector">
              <img src="../src/assets/earth_icon.png" alt="earth" class="earth-icon">
              <label for="languageSelector"></label>
              <select id="languageSelector">
                <option value="en">English</option>
                <option value="ko" selected>한국어</option>
                <option value="zh">中文</option>
                <option value="ja">日本語</option>
                <option value="vi">Tiếng Việt</option>
                <option value="mn">Монгол</option>
                <option value="ru">Русский</option>
              </select>
            </div>
          </div>
        </div>
    </header>

    <main>
        <form class="create-post" th:action="@{/post/create}" method="post">
            <h2 class="page-title">글쓰기</h2>
            <h3>제목</h3>
            <input class="post-title" type="text" name="subject" maxlength="30">
            <h3>내용</h3>
            <textarea class="post-body" name="content"></textarea>
            <div class="btn-container">
                <button type="submit" id="post-button" class="btn-post">등록</button>
                <button type="button" id="cancel-button" class="btn-cancel">취소</button>
            </div>
        </form>
    </main>

    <footer>
        <div class="footer-container">
            <ul class="footer-btn">
                <li><a href="#">이용약관</a></li>
                <li><a href="privacy_Policy.html" style="font-weight: bold;">개인정보처리방침</a></li>
                <li><a href="#">문의/신고</a></li>
                <li><a href="#">광고안내</a></li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript" src="../src/js/createpost.js"></script>
</body>

</html>