<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이메일 변경 - Networker</title>
    <link rel="stylesheet" href="../src/css/emailchange.css" />
    <script src="../src/js/lang.js" defer></script>
    <link rel="stylesheet" href="../src/css/shared.css" />
    <link rel="icon" href=“../src/assets/logo.png>
    <script src="../src/js/darkmode.js" defer></script>
  </head>
  <body>
    <header>
      <div class="header-content">
        <a href="/main" style="text-decoration: none">
          <span class="logo">
            <img src="../src/assets/logo.png" alt="logo" />
            <h1 id="site_title">Networker</h1>
          </span>
        </a>
        <div class="menu">
          <a href="/main" id="menu_home">홈</a>
          <a href="/views/news.html" id="menu_news">정보</a>
          <a href="/post/list" id="menu_board">자유게시판</a>
          <a href="/views/store.html" id="menu_store">스토어</a>
          <a href="/lawsupport/main" id="menu_law">법률지원</a>
          <a href="/views/review.html" id="menu_review">기업리뷰</a>
        </div>
        <div class="auth-buttons">
          <div class="profile-icon">
            <a href="/views/profile.html" id="profile-size"
              ><img src="../src/assets/profile.png" alt="Profile"
            /></a>
          </div>
          <div class="language-selector">
            <img
              src="../src/assets/earth_icon.png"
              alt="earth"
              class="earth-icon"
            />
            <label for="languageSelector"></label>
            <select id="languageSelector">
              <option value="en">English</option>
              <option value="ko" selected>한국어</option>
              <option value="zh">中文</option>
              <option value="ja">日本語</option>
              <option value="vi">Tiếng Việt</option>
              <option value="mn">Монгол</option>
              <option value="uk">українська мова</option>
            </select>
          </div>
          <div class="dark-mode-toggle">
            <label class="switch">
                <input type="checkbox" id="darkModeToggle">
                <span class="slider round"></span>
            </label>
        </div>
        </div>
      </div>
    </header>

    <main>
      <div class="email-change-container">
        <h2 class="email_change_heading">이메일 변경</h2>
        <form id="email-change-form" action="#" method="post">
            <div class="form-group">
                <label for="email" class="email_label">이메일</label>
                <input type="email" id="email" name="email" class="email_placeholder" placeholder="이메일을 입력하세요." required>
            </div>
            <div class="form-group">
                <label for="password" class="password_label">계정 비밀번호</label>
                <input type="password" id="password" name="password" class="password_placeholder" placeholder="비밀번호를 입력하세요." required>
            </div>
            <p class="email_warning">※ 반드시 본인의 이메일을 입력해주세요. ※ 계정 분실 시 아이디/비밀번호 찾기, 개인정보 관련 주요 고지사항 안내 등에 사용됩니다.</p>
            <button type="submit" class="email_change_button">이메일 변경</button>
        </form>
    </div>
    </main>

    <footer>
      <div class="footer-container">
        <ul class="footer-btn">
          <li><a href="#" id="footer_terms">이용약관</a></li>
          <li>
            <a href="/views/Privacy_Policy.html" id="footer_privacy" style="font-weight: bold">개인정보처리방침</a>
          </li>
             <li><a href="/views/inquire.html" id="footer_contact">문의/신고</a></li>
             <li><a href="/views/inquire.html" id="footer_ads">광고안내</a></li>
        </ul>
      </div>
    </footer>
    

    <script src="../src/js/emailchange.js"></script>
  </body>
</html>
