<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3f3cec821.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../src/css/lawsupport.css">
    <script src="../src/js/lang.js" defer></script>
    <link rel="stylesheet" href="../src/css/shared.css" />
    <title>법률지원</title>
</head>

<body>
    <header>
        <div class="header-content">
          <a href="/main" style="text-decoration: none">
            <span class="logo">
              <img src="../src/assets/logo.png" alt="logo" />
              <h1 id="site_title">Networker</h1>
            </span>
          </a>
            <div class="menu">
                <a href="/main" id="menu_home">홈</a>
                <a href="/views/news.html" id="menu_news">정보</a>
                <a href="/post/list" id="menu_board">자유게시판</a>
                <a href="/views/store.html" id="menu_store">스토어</a>
                <a href="/lawsupport/main" id="menu_law">법률지원</a>
                <a href="/views/review.html" id="menu_review">기업리뷰</a>
            </div>
            <div class="auth-buttons">
                <a href="/views/login.html" id="login">로그인</a>
                <a href="/views/signup.html" id="signup">회원가입</a>
                <div class="profile-icon">
                    <a href="/views/profile.html" id="profile-size"
                    ><img src="../src/assets/profile.png" alt="Profile"
                    /></a>
                </div>
            <div class="language-selector">
              <img src="../src/assets/earth_icon.png" alt="earth" class="earth-icon">
              <label for="languageSelector"></label>
              <select id="languageSelector">
                <option value="en">English</option>
                <option value="ko" selected>한국어</option>
                <option value="zh">中文</option>
                <option value="ja">日本語</option>
                <option value="vi">Tiếng Việt</option>
                <option value="mn">Монгол</option>
                <option value="ru">Русский</option>
              </select>
            </div>
          </div>
        </div>
    </header>

    <main>
        <table class="community">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성일</th>
                    <th>조회수</th>
                    <th>추천</th>
                </tr>
            </thead>
            <tbody id="post-list">
            <!--post list-->
            <tr th:each="postLaw, loop:${paging}">
                <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                <td>
                    <a th:href="@{/lawsupport/detail/{id}(id=${postLaw.id})}" th:text="${postLaw.subject}"></a>
                </td>
                <td>NULL</td>
                <td th:text="${#temporals.format(postLaw.createDate, 'yyyy-MM-dd-HH:mm')}"></td>
                <td>NULL</td>
                <td>NULL</td>
            </tr>
            </tbody>
        </table>
        <div class="bottom-box">
            <div class="bottom-btn-box">
                <button>전체글</button>
                <button>추천글</button>
                <button id="post-button" class="write-post-button" onclick="window.location.href='createpost_law.html'">
                    글쓰기
                </button>
            </div>

            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination justify-content-center">
                    <!-- Previous button -->
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <button>
                            <a class="page-link"
                               th:href="@{/post/list(page=${paging.number - 1})}">
                                <span>이전</span>
                            </a>
                        </button>
                    </li>

                    <!-- Page numbers -->
                    <li th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:classappend="${page == paging.number} ? 'active'"
                        class="page-item">
                        <!-- Display page number starting from 1 -->
                        <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
                    </li>

                    <!-- Next button -->
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <button>
                            <a class="page-link"
                               th:href="@{/lawsupport/main(page=${paging.number + 1})}">
                                <span>다음</span>
                            </a>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="bottom-search-box">
                <div class="dropdown">
                    <select>
                        <option>제목+내용</option>
                        <option>제목</option>
                        <option>내용</option>
                        <option>글쓴이</option>
                    </select>
                </div>
                <form action="/URL데이터를 처리할 URL" method="get">
                    <input class="search-input" type="text" name="query" placeholder="검색어 입력">
                    <button class="search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <ul class="footer-btn">
                <li><a href="#">이용약관</a></li>
                <li><a href="/views/Privacy_Policy.html" style="font-weight: bold;">개인정보처리방침</a></li>
                <li><a href="#">문의/신고</a></li>
                <li><a href="#">광고안내</a></li>
            </ul>
        </div>
    </footer>

    <script src="../src/js/fuse.min.js"></script> <!-- Fuse.js library -->
    <script src="../src/js/lawsupport.js"></script>
    <script src="../src/js/search.js" defer></script>
</body>

</html>