<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3f3cec821.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../src/css/lawsupport.css">
    <title>네트워커</title>
</head>

<body>
    <header>
        <div class="header-content">
            <a href="networker.html" style="text-decoration: none;">
            <span class="logo">
                <img src="../src/assets/logo.png">
                <h1>Networker</h1>
            </span>
            </a>
            <div class="menu">
                <a href="networker.html">홈</a>
                <a href="news.html">정보</a>
                <a href="board.html">자유게시판</a>
                <a href="store.html">스토어</a>
                <a href="lawsupport.html">법률지원</a>
            </div>
            <div class="auth-buttons">
                <a href="login.html">로그인</a>
                <a href="signup.html">회원가입</a>
                <div class="profile-icon">
                    <a href="profile.html"><img src="../src/assets/profile.png" alt="Profile"></a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="main-bar">
            <div class="main-item">
                <h2 class="main-title">법률지원</h2>
            </div>
            <div class="main-item">
                <form class="search-box" action="" method="get">
                    <input class="search-text" type="text" placeholder="게시글을 찾아보세요!">
                    <button class="search-btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>
        <section class="section-container">
            <table class="table">
                <thead>
                    <tr class="table-container">
                        <th class="table-item">번호</th>
                        <th class="table-item">제목</th>
                        <th class="table-item">글쓴이</th>
                        <th class="table-item">작성일</th>
                        <th class="table-item">조회</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-container">
                        <th class="table-item">공지</th>
                        <th class="table-item">체불임금 해결방법</th>
                        <th class="table-item">운영자</th>
                        <th class="table-item">24.01.01</th>
                        <th class="table-item">0</th>
                    </tr>
                    <tr class="table-container">
                        <th class="table-item">공지</th>
                        <th class="table-item">국선변호사 선임</th>
                        <th class="table-item">운영자</th>
                        <th class="table-item">24.01.01</th>
                        <th class="table-item">0</th>
                    </tr>
                    <tr class="table-container">
                        <th class="table-item">공지</th>
                        <th class="table-item">근로기준법 조항</th>
                        <th class="table-item">운영자</th>
                        <th class="table-item">24.01.01</th>
                        <th class="table-item">0</th>
                    </tr>
                    <tr class="table-container">
                        <th class="table-item">공지</th>
                        <th class="table-item">기타 문의 방법</th>
                        <th class="table-item">운영자</th>
                        <th class="table-item">24.01.01</th>
                        <th class="table-item">0</th>
                    </tr>
                    <tr class="table-container">
                        <th class="table-item">공지</th>
                        <th class="table-item">체불임금 해결방법</th>
                        <th class="table-item">운영자</th>
                        <th class="table-item">24.01.01</th>
                        <th class="table-item">0</th>
                    </tr>
                    <tr class="table-container">
                        <th class="table-item">공지</th>
                        <th class="table-item">국선변호사 선임</th>
                        <th class="table-item">운영자</th>
                        <th class="table-item">24.01.01</th>
                        <th class="table-item">0</th>
                    </tr>
                    <tr class="table-container">
                        <th class="table-item">공지</th>
                        <th class="table-item">근로기준법 조항</th>
                        <th class="table-item">운영자</th>
                        <th class="table-item">24.01.01</th>
                        <th class="table-item">0</th>
                    </tr>
                    <tr class="table-container">
                        <th class="table-item">공지</th>
                        <th class="table-item">기타 문의 방법</th>
                        <th class="table-item">운영자</th>
                        <th class="table-item">24.01.01</th>
                        <th class="table-item">0</th>
                    </tr>
                    <tr class="table-container">
                        <th class="table-item">공지</th>
                        <th class="table-item">체불임금 해결방법</th>
                        <th class="table-item">운영자</th>
                        <th class="table-item">24.01.01</th>
                        <th class="table-item">0</th>
                    </tr>
                    <tr class="table-container">
                        <th class="table-item">공지</th>
                        <th class="table-item">국선변호사 선임</th>
                        <th class="table-item">운영자</th>
                        <th class="table-item">24.01.01</th>
                        <th class="table-item">0</th>
                    </tr>
                    <tr class="table-container">
                        <th class="table-item">공지</th>
                        <th class="table-item">근로기준법 조항</th>
                        <th class="table-item">운영자</th>
                        <th class="table-item">24.01.01</th>
                        <th class="table-item">0</th>
                    </tr>
                    <tr class="table-container">
                        <th class="table-item">공지</th>
                        <th class="table-item">기타 문의 방법</th>
                        <th class="table-item">운영자</th>
                        <th class="table-item">24.01.01</th>
                        <th class="table-item">0</th>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <ul class="footer-btn">
                <li><a href="#">이용약관</a></li>
                <li><a href="#" style="font-weight: bold;">개인정보처리방침</a></li>
                <li><a href="#">문의/신고</a></li>
                <li><a href="#">광고안내</a></li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript" src="../src/js/lawsupport.js"></script>
</body>

</html>
