<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Networker</title>
    <link rel="stylesheet" href="../src/css/network.css" />
    <link rel="stylesheet" href="../src/css/shared.css" />
    <script src="../src/js/shared.js" defer></script>
    <script src="../src/js/fetchTitles.js" defer></script>
    <script src="../src/js/darkmode.js" defer></script>
    <script src="../src/js/lang.js" defer></script>
  </head>
  <body>
    <header>
      <div class="header-content" id="important">
        <a href="/main" style="text-decoration: none">
          <span class="logo">
            <img src="../src/assets/logo.png" alt="logo" />
            <h1 id="site_title">Networker</h1>
          </span>
        </a>
        <div class="menu">
          <a href="/main" id="menu_home">홈</a>
          <a href="/views/news.html" id="menu_news">정보</a>
          <a href="/post/list" id="menu_board">자유게시판</a>
          <a href="/views/store.html" id="menu_store">스토어</a>
          <a href="/lawsupport/main" id="menu_law">법률지원</a>
          <a href="/views/review.html" id="menu_review">기업리뷰</a>
        </div>
        <div class="auth-buttons">
          <a href="/views/profile.html" id="profile">
            <img id="login-icon" src="../src/assets/login-icon.png" />
          </a>
          <a href="/views/login.html" id="login">로그인</a>
          <a href="/views/signup.html" id="signup">회원가입</a>
          <div class="profile-icon">
            <a href="/views/profile.html" id="profile-size"
              ><img src="../src/assets/profile.png" alt="Profile"
            /></a>
          </div>
          <div class="language-selector">
            <img
              src="../src/assets/earth_icon.png"
              alt="earth"
              class="earth-icon"
            />
            <label for="languageSelector"></label>
            <select id="languageSelector">
              <option value="en">English</option>
              <option value="ko" selected>한국어</option>
              <option value="zh">中文</option>
              <option value="ja">日本語</option>
              <option value="vi">Tiếng Việt</option>
              <option value="mn">Монгол</option>
              <option value="uk">Українська</option>
            </select>
          </div>
          <div class="dark-mode-toggle">
            <label class="switch">
                <input type="checkbox" id="darkModeToggle">
                <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="main-banner">
        <div class="container">
          <div class="slidebox">
            <input type="radio" name="slide" id="slide01" checked />
            <input type="radio" name="slide" id="slide02" />
            <input type="radio" name="slide" id="slide03" />
            <input type="radio" name="slide" id="slide04" />

            <ul class="slidelist">
              <li class="slideitem">
                <div>
                  <label for="slide04" class="left"></label>
                  <label for="slide02" class="right"></label>

                  <a href="#"
                    ><img src="../src/assets/mainbanner5.png">

                </div>
              </li>
              <li class="slideitem">
                <div>
                  <label for="slide01" class="left"></label>
                  <label for="slide03" class="right"></label>
                  <a href="#"><img src="../src/assets/mainbanner6.png" /></a>
                </div>
              </li>
              <li class="slideitem">
                <div>
                  <label for="slide02" class="left"></label>
                  <label for="slide04" class="right"></label>
                  <a href="#"><img src="../src/assets/mainbanner7.png" /></a>
                </div>
              </li>
              <li class="slideitem">
                <div>
                  <label for="slide03" class="left"></label>
                  <label for="slide01" class="right"></label>
                  <a href="#"><img src="../src/assets/mainbanner8.png" /></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <div class="board-sections">
        <div class="board-row">
          <div class="board-item">
            <div class="board-header">
              <h3 id="board_free">자유게시판</h3>
              <button class="more-btn" id="more_free" onclick="location.href='/post/list';">
                더보기
              </button>
            </div>
            <ul class="board-content">
              <!-- 여기에 최신 글 제목 갱신-->
            </ul>
          </div>
          <div class="board-item">
            <div class="board-header">
              <h3 id="board_news">정보</h3>
              <button class="more-btn" id="more_news" onclick="location.href='/views/news.html';">
                더보기
              </button>
            </div>
            <ul class="board-content board-content-info">
              <!-- 여기에 최신 글 제목 갱신-->
            </ul>
          </div>
        </div>
        <!-- <div class="board-row">
          <div class="board-item">
            <div class="board-header">
              <h3 id="board_law">법률지원</h3>
              <button
                class="more-btn"
                id="more_law"
                onclick="location.href='/lawsupport/main';"
              >
                더보기
              </button>
            </div>
            <ul class="board-content" id="legal-support-latest">
              <li></li>
            </ul>
          </div>
          <div class="board-item">
            <div class="board-header">
              <h3 id="board_store">스토어</h3>
              <button class="more-btn" id="more_store" onclick="location.href='/views/store.html';">
                더보기
              </button>
            </div>
            <ul class="board-content">
              <li></li>
            </ul>
          </div> -->
        </div>
      </div>
    </main>

    <footer>
      <div class="footer-container">
        <ul class="footer-btn">
          <li><a href="#" id="footer_terms">이용약관</a></li>
          <li>
            <a href="/views/Privacy_Policy.html" id="footer_privacy" style="font-weight: bold">개인정보처리방침</a>
          </li>
             <li><a href="/views/inquire.html" id="footer_contact">문의/신고</a></li>
             <li><a href="/views/inquire.html" id="footer_ads">광고안내</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
