<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome for Foreign Workers</title>
    <link rel="stylesheet" href="../src/css/news.css" />
    <script src="../src/js/news.js" defer></script>
  </head>

  <body>
    <header>
      <div class="header-content">
        <a href="networker.html" style="text-decoration: none">
          <span class="logo">
            <img src="../src/assets/logo.png" />
            <h1>Networker</h1>
          </span>
        </a>
        <div class="menu">
          <a href="networker.html">홈</a>
          <a href="news.html">정보</a>
          <a href="board.html">자유게시판</a>
          <a href="store.html">스토어</a>
          <a href="lawsupport.html">법률지원</a>
        </div>
        <div class="auth-buttons">
          <a href="login.html">로그인</a>
          <a href="signup.html">회원가입</a>
          <div class="profile-icon">
            <a href="profile.html"
              ><img src="../src/assets/profile.png" alt="Profile"
            /></a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="content-main">
        <div class="news-item-main">
          <a
            href="https://www.newsis.com/view/NISX20240722_0002820820"
            target="_blank"
            ><img src="../src/assets/healthcheck.png" alt="Worker Image"
          /></a>
          <div class="news-content-main">
            <h2>창원시, 외국인 주민 언어지원 통·번역 서비스 도입</h2>
            <p>
              경남 창원시는 외국인 주민에 대한 행정 서비스 만족도 향상을 위해
              8월부터 언어 지원 통·번역 서비스를 운영한다고 22일 밝혔다. 이번에
              도입된 통·번역기는 18대로 의창·성산구(4대 팔룡동, 봉림동, 중앙동,
              반송동), 합포·회원구(5대 월영동, 진동면, 봉암동, 합성2동,
              구암2동), 진해구(1대 웅동2동) 시·구청 민원실(6대 각 1대),
              인구정책담당관(2대)에서 시범 운영한다.
            </p>
            <a
              href="https://www.newsis.com/view/NISX20240722_0002820820"
              target="_blank"
              >더 읽기</a
            >
          </div>
        </div>
      </div>
      <div class="content">
        <div class="news-item">
          <a
            href="https://www.edaily.co.kr/News/Read?newsId=03125846638957472&mediaCodeNo=257&OutLnkChk=Y"
            target="_blank"
            ><img src="../src/assets/industrialsafety.png" alt="Worker Image"
          /></a>
          <div class="news-content">
            <h2>
              경기소방, 이주노동자 위한 13개 국어 '안전관리 3종 홍보물' 제작
            </h2>
            <p>
              경기도소방재난본부가 아리셀 화재와 같은 참사를 막기 위해
              이주노동자들의 화재예방과 비상시 대피 등 화재안전수칙을 각 나라의
              언어로 담은 음원과 포스터, 영상(숏폼) 등 ‘안전관리 3종 홍보
              콘텐츠’를 제작했다
            </p>
            <a
              href="https://www.edaily.co.kr/News/Read?newsId=03125846638957472&mediaCodeNo=257&OutLnkChk=Y"
              >더 읽기</a
            >
          </div>
        </div>
        <div class="news-item">
          <a
            href="https://www.sportsworldi.com/newsView/20240723514703"
            target="_blank"
            ><img src="../src/assets/koreanclass.png" alt="Worker Image"
          /></a>
          <div class="news-content">
            <h2>외국인 대상 '주말은행'…전용 상품에 수수료 우대도</h2>
            <p>
              안산·김해 등 외국인 노동자 밀집지역서 특화 영업점 운영 중 비대면
              계좌개설, 다국어 서비스 제공…특정 조건 충족 시 우대금리 제공
              특화상품도
            </p>
            <a
              href="https://www.sportsworldi.com/newsView/20240723514703"
              target="_blank"
              >더 읽기</a
            >
          </div>
        </div>
        <div class="news-item">
          <a
            href="https://www.kado.net/news/articleView.html?idxno=1256427"
            target="_blank"
            ><img src="../src/assets/workshop.png" alt="Worker Image"
          /></a>
          <div class="news-content">
            <h2>강원도내 외국인 노동자 ‘지역경제 소비파워’ 확대</h2>
            <p>
              지난해와 비교해 외국인노동자 카드 소비가 가장 많이 늘은 업종은
              마트·편의점 등 유통업(28%)이었다. 이어 생활(가구·보건·주방용품)
              12%, 주유 11% 음식 10% 등 순으로 증가율이 높았다.
            </p>
            <a
              href="https://www.kado.net/news/articleView.html?idxno=1256427"
              target="_blank"
              >더 읽기</a
            >
          </div>
        </div>
        <div class="news-item">
          <a
            href="https://www.labortoday.co.kr/news/articleView.html?idxno=222683"
            target="_blank"
            ><img src="../src/assets/financialeducation.png" alt="Worker Image"
          /></a>
          <div class="news-content">
            <h2>음식점 외국인노동자 고용 문턱 더 낮춘다</h2>
            <p>
              다음달 5일부터 업종은 한식에서 외국식으로 확대되고, 업력 요건은
              5년 이상, 5명 미만 사업장으로 변경된다. 노동계는 “노동조건이
              열악한 5명 미만 사업장을 이주노동자들로 채우겠다는 것”이라고
              비판했다. 정부는 19일 오후 외국인력정책위원회를 열고 이같이
              결정했다.
            </p>
            <a
              href="https://www.labortoday.co.kr/news/articleView.html?idxno=222683"
              target="_blank"
              >더 읽기</a
            >
          </div>
        </div>
        <div class="news-item">
          <a href="https://www.sedaily.com/NewsView/2DBRGDWK0T" target="_blank"
            ><img src="../src/assets/teambuilding.png" alt="Worker Image"
          /></a>
          <div class="news-content">
            <h2>진주시, 전국 세 번째 규모 외국인 계절노동자 배정</h2>
            <p>
              참여농가는 노동자 신청 시 결혼이민자와 함께 신청을 해야 하며, 적정
              주거환경을 갖춘 숙소 제공, 최저임금 이상의 급여 지급, 휴일 보장
              등을 준수해 외국인 노동자에 대한 인권보호를 시행해야 한다.
            </p>
            <a
              href="https://www.sedaily.com/NewsView/2DBRGDWK0T"
              target="_blank"
              >더 읽기</a
            >
          </div>
        </div>
        <div class="news-item">
          <a
            href="https://www.newsis.com/view/NISX20240717_0002814282"
            target="_blank"
            ><img src="../src/assets/jobconsulting.png" alt="Worker Image"
          /></a>
          <div class="news-content">
            <h2>농식품부, 하반기 계절근로 외국인 근로자 1.6만명 추가 배정</h2>
            <p>
              농협이 외국인 노동자를 고용해 농가에 일일 단위로 공급하는 공공형
              계절근로는 지난해 19개소에서 올해 70개소로 3배 이상 확대한다. 5월
              기준으론 2500여명이 계절근로자가 현장에서 활동하고 있는 것으로
              집계됐다.
            </p>
            <a
              href="https://www.newsis.com/view/NISX20240717_0002814282"
              target="_blank"
              >더 읽기</a
            >
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <ul class="footer-btn">
          <li><a href="#">이용약관</a></li>
          <li><a href="Privacy_Policy.html" style="font-weight: bold">개인정보처리방침</a></li>
          <li><a href="#">문의/신고</a></li>
          <li><a href="#">광고안내</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
