<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경 - Networker</title>
    <link rel="stylesheet" href="../src/css/passwordchange.css">
</head>
<body>
    <header>
        <div class="header-content">
            <a href="networker.html" style="text-decoration: none;">
                <span class="logo">
                    <img src="../src/assets/logo.png">
                    <h1>Networker</h1>
                </span>
                </a>
            <div class="menu">
                <a href="networker.html">홈</a>
                <a href="news.html">정보</a>
                <a href="board.html">자유게시판</a>
                <a href="store.html">스토어</a>
                <a href="lawsupport.html">법률지원</a>
            </div>
            <div class="profile-icon">
                <a href="profile.html"><img src="../src/assets/profile.png" alt="Profile"></a>
            </div>
        </div>
    </header>

    <main>
        <div class="password-container">
            <h2>비밀번호 변경</h2>
            <form id="password-form" action="#" method="post">
                <div class="form-group">
                    <label for="current-password">현재 비밀번호</label>
                    <input type="password" id="current-password" name="current-password" required>
                </div>
                <div class="form-group">
                    <label for="new-password">새 비밀번호</label>
                    <p>※ 비밀번호 조건 : 영문/숫자/특수문자 중 2가지 이상을 포함한 8~20자</p>
                    <input type="password" id="new-password" name="new-password" required>
                    <span id="password-criteria-error" class="error-message"></span>
                </div>
                <div class="form-group">
                    <label for="confirm-password">새 비밀번호 확인</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                    <span id="password-match-error" class="error-message"></span>
                </div>
                <button type="submit">비밀번호 변경</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <ul class="footer-btn">
                <li><a href="#">이용약관</a></li>
                <li><a href="Privacy_Policy.html" style="font-weight: bold;">개인정보처리방침</a></li>
                <li><a href="#">문의/신고</a></li>
                <li><a href="#">광고안내</a></li>
            </ul>
        </div>
    </footer>

    <script src="../src/js/passwordchange.js"></script>
</body>
</html>
