<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 - Networker</title>
    <link rel="stylesheet" href="../src/css/post.css">
</head>

<body>
    <header>
        <div class="header-content">
            <a href="networker.html" style="text-decoration: none;">
                <span class="logo">
                    <img src="../src/assets/logo.png">
                    <h1>Networker</h1>
                </span>
            </a>
            <div class="menu">
                <a href="networker.html">홈</a>
                <a href="news.html">정보</a>
                <a href="board.html">자유게시판</a>
                <a href="store.html">스토어</a>
                <a href="lawsupport.html">법률지원</a>
            </div>
            <div class="auth-buttons">
                <a href="login.html">로그인</a>
                <a href="signup.html">회원가입</a>
                <div class="profile-icon">
                    <a href="profile.html"><img src="../src/assets/profile.png" alt="Profile"></a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="post" id="post-details">
            <h2>법률지원</h2>
            <div class="content" id="post-info"></div>
            <div class="center-align">
                <!-- 
                추천 개수 표시 하려면 이부분 수정해야함.
                <p id="recommend-count"></p> 
                <p id="not-recommend-count"></p> 
                -->
                <button id="recommend" class="recommend-button" type="button" onclick="recommend()">추천</button>

            </div>
            <div class="right-align">
                <button id="edit" type="button" onclick="post_edit()">수정</button>
                <button id="delete" type="button" onclick="removeCheck()">삭제</button>
            </div>
            <div class="comment" id="comments-info"></div>
            <form class="comment-write">
                <div class="user-id" id="user-info">임시 아이디</div>
                <div class="input-container">
                    <textarea id="comment-input" class="text-input"></textarea>
                    <button id="comment-button" class="text-button" type="submit">작성</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <ul class="footer-btn">
                <li><a href="#">이용약관</a></li>
                <li><a href="privacy_Policy.html" style="font-weight: bold;">개인정보처리방침</a></li>
                <li><a href="#">문의/신고</a></li>
                <li><a href="#">광고안내</a></li>
            </ul>
        </div>
    </footer>

    <script src="../src/js/post.js"></script>
</body>

</html>