<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 - Networker</title>
    <link rel="stylesheet" href="/src/css/post.css">
</head>

<body>
    <header>
        <div class="header-content">
            <a href="/" style="text-decoration: none;">
                <span class="logo">
                    <img src="/src/assets/logo.png">
                    <h1>Networker</h1>
                </span>
            </a>
            <div class="menu">
                <a href="/">홈</a>
                <a href="/views/news.html">정보</a>
                <a href="/post/list">자유게시판</a>
                <a href="/views/store.html">스토어</a>
                <a href="/lawsupport/main">법률지원</a>
            </div>
            <div class="auth-buttons">
                <a href="/views/login.html">로그인</a>
                <a href="/views/signup.html">회원가입</a>
                <div class="profile-icon">
                    <a href="/views/profile.html"><img src="/src/assets/profile.png" alt="Profile"></a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="post" id="post-details">
            <h2>법률지원</h2>
            <div class="content" id="post-info">
				<h1 th:text="${post.subject}"></h1>
			</div>
            <div class="center-align" th:text="${post.content}">				
                <!-- 
                추천 개수 표시 하려면 이부분 수정해야함.
                <p id="recommend-count"></p> 
                <p id="not-recommend-count"></p> 
                -->
                <button id="recommend" class="recommend-button" type="submit">추천</button>
                <button id="not-recommend" class="recommend-button" type="submit">비추천</button>
            </div>
			<h5 th:text="|댓글 ${#lists.size(post.commentList)}개|"></h5>
            <div class="comment" id="comments-info">
				<ul>
					<li th:each="comment : ${post.commentList}" th:text="${comment.content}"></li>
				</ul>
			</div>
            <form class="comment-write" th:action="@{|/comment/create/${post.id}|}" method="post" th:object="${commentForm}">
                <div class="user-id" id="user-info">임시 아이디</div>
                <div class="input-container">
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}"th:each="err : ${#fields.allErrors()}" th:text="${err}" ></div>
                    <textarea name="content" id="comment-input" class="text-input" th:field="*{content}">
					</textarea>
					
					<input type="submit" value="작성">
                    <button id="comment-button" class="text-button" type="submit">작성</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <ul class="footer-btn">
                <li><a href="#">이용약관</a></li>
                <li><a href="/views/Privacy_Policy.html" style="font-weight: bold;">개인정보처리방침</a></li>
                <li><a href="#">문의/신고</a></li>
                <li><a href="#">광고안내</a></li>
            </ul>
        </div>
    </footer>

    <script src="/src/js/post.js"></script>
</body>

</html>