<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 - Networker</title>
    <link rel="stylesheet" href="../src/css/post.css">
    <script src="../src/js/lang.js" defer></script>
    <link rel="stylesheet" href="../src/css/shared.css" />
</head>

<body>
    <header>
        <div class="header-content">
          <a href="/main" style="text-decoration: none">
            <span class="logo">
              <img src="../src/assets/logo.png" alt="logo" />
              <h1 id="site_title">Networker</h1>
            </span>
          </a>
            <div class="menu">
                <a href="/main" id="menu_home">홈</a>
                <a href="/views/news.html" id="menu_news">정보</a>
                <a href="/post/list" id="menu_board">자유게시판</a>
                <a href="/views/store.html" id="menu_store">스토어</a>
                <a href="/lawsupport/main" id="menu_law">법률지원</a>
                <a href="/views/review.html" id="menu_review">기업리뷰</a>
            </div>
            <div class="auth-buttons">
                <a href="/views/login.html" id="login">로그인</a>
                <a href="/views/signup.html" id="signup">회원가입</a>
                <div class="profile-icon">
                    <a href="/views/profile.html" id="profile-size"
                    ><img src="../src/assets/profile.png" alt="Profile"
                    /></a>
                </div>
            <div class="language-selector">
              <img src="../src/assets/earth_icon.png" alt="earth" class="earth-icon">
              <label for="languageSelector"></label>
              <select id="languageSelector">
                <option value="en">English</option>
                <option value="ko" selected>한국어</option>
                <option value="zh">中文</option>
                <option value="ja">日本語</option>
                <option value="vi">Tiếng Việt</option>
                <option value="mn">Монгол</option>
                <option value="ru">Русский</option>
              </select>
            </div>
          </div>
        </div>
    </header>

    <main>
        <div class="post" id="post-details">
            <h2>자유게시판</h2>
            <div class="content" id="post-info">
                <h1 th:text="${post.subject}"></h1>
                <div th:text="${post.content}"></div>
            </div>
            <div class="center-align">
                <!-- 
                추천 개수 표시 하려면 이부분 수정해야함.
                <p id="recommend-count"></p> 
                <p id="not-recommend-count"></p> 
                -->
                <button id="recommend" class="recommend-button" type="button" onclick="recommend()">추천</button>

            </div>
            <div class="right-align">
                <button id="edit" type="button" onclick="post_edit()">수정</button>
                <button id="delete" type="button" onclick="post_delete()">삭제</button>
            </div>
            <h5 th:text="|댓글 ${#lists.size(post.commentList)}개|"></h5>
            <div class="comment" id="comments-info">
                <ul>
                    <li th:each="comment : ${post.commentList}" th:text="${comment.content}"></li>
                </ul>
            </div>

            <form class="comment-write" th:action="@{|/comment/create/${post.id}|}" method="post">
                <div class="user-id" id="user-info">임시 아이디</div>
                <div class="input-container">
                    <textarea id="comment-input" class="text-input" name="content" ></textarea>
                    <button id="comment-button" class="text-button" type="submit">작성</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <ul class="footer-btn">
                <li><a href="#">이용약관</a></li>
                <li><a href="privacy_Policy.html" style="font-weight: bold;">개인정보처리방침</a></li>
                <li><a href="#">문의/신고</a></li>
                <li><a href="#">광고안내</a></li>
            </ul>
        </div>
    </footer>

    <script src="../src/js/post.js"></script>
</body>

</html>