<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Networker 프로필 페이지</title>
    <link rel="stylesheet" href="../src/css/profile.css" />
    <script src="../src/js/lang.js" defer></script>
    <link rel="stylesheet" href="../src/css/shared.css" />
    <link rel="icon" href=“../src/assets/logo.png>
    <script src="../src/js/darkmode.js" defer></script>
  </head>
  <body>
    <header>
      <div class="header-content">
        <a href="/main" style="text-decoration: none">
          <span class="logo">
            <img src="../src/assets/logo.png" alt="logo" />
            <h1 id="site_title">Networker</h1>
          </span>
        </a>
        <div class="menu">
          <a href="/main" id="menu_home">홈</a>
          <a href="/views/news.html" id="menu_news">정보</a>
          <a href="/post/list" id="menu_board">자유게시판</a>
          <a href="/views/store.html" id="menu_store">스토어</a>
          <a href="/lawsupport/main" id="menu_law">법률지원</a>
          <a href="/views/review.html" id="menu_review">기업리뷰</a>
        </div>
        <div class="auth-buttons">
          <div class="profile-icon">
            <a href="/views/profile.html" id="profile-size">
              <img src="../src/assets/profile.png" alt="Profile" />
            </a>
          </div>
          <div class="language-selector">
            <img
              src="../src/assets/earth_icon.png"
              alt="earth"
              class="earth-icon"
            />
            <label for="languageSelector"></label>
            <select id="languageSelector">
              <option value="en">English</option>
              <option value="ko" selected>한국어</option>
              <option value="zh">中文</option>
              <option value="ja">日本語</option>
              <option value="vi">Tiếng Việt</option>
              <option value="mn">Монгол</option>
              <option value="uk">українська мова</option>
            </select>
          </div>
          <div class="dark-mode-toggle">
              <label class="switch">
                  <input type="checkbox" id="darkModeToggle">
                  <span class="slider round"></span>
              </label>
            </div>
        </div>
      </div>
    </header>

    <main>
      <div class="profile-container">
        <div class="profile-info">
            <img src="../src/assets/profile.png" alt="User" />
            <h2 class="nickname_label">닉네임</h2>
            <p id="nationality" class="nationality_label">국적 :</p>
            <div class="flag"></div>
            <p id="user-email" class="user_email_label">아이디: 로그인필요</p>
            <button class="logout-btn logout_button">로그아웃</button>
        </div>
        <div class="profile-sections">
            <section>
                <h3 class="account_heading">계정</h3>
                <ul>
                    <li class="profile-link change_password_button" data-url="/views/passwordchange.html">
                        비밀번호 변경
                    </li>
                    <li class="profile-link email_change_button" data-url="/views/emailchange.html">
                        이메일 변경
                    </li>
                    <li class="profile-link set_nickname_heading" data-url="/views/nicknamesetting.html">
                        닉네임 설정
                    </li>
                    <li class="profile-link order_payment_history_heading" data-url="/views/orderinfo.html">
                        주문/결제 내역
                    </li>
                    <li class="profile-link delete_account_heading" data-url="/views/deleteaccount.html">
                        회원 탈퇴
                    </li>
                </ul>
            </section>
            <section>
                <h3 class="usage_guide_heading">이용 안내</h3>
                <ul>
                    <li class="profile-link inquiry_heading" data-url="/views/inquire.html">
                        문의/신고하기
                    </li>
                    <li class="profile-link community_rules" data-url="#">커뮤니티 이용규칙</li>
                    <li class="profile-link terms_of_service" data-url="#">서비스 이용약관</li>
                    <li class="profile-link privacy_policy" data-url="/views/Privacy_Policy.html">
                        개인정보 처리방침
                    </li>
                </ul>
            </section>
        </div>
    </div>    
    </main>

    <footer>
      <div class="footer-container">
        <ul class="footer-btn">
          <li><a href="#">이용약관</a></li>
          <li>
            <a href="/views/Privacy_Policy.html" style="font-weight: bold"
              >개인정보처리방침</a
            >
          </li>
          <li><a href="/views/inquire.html">문의/신고</a></li>
          <li><a href="/views/inquire.html">광고안내</a></li>
        </ul>
      </div>
    </footer>

    <script src="../src/js/profile.js"></script>
  </body>
</html>
