<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>
    <link rel="stylesheet" href="../src/css/shared.css" />
    <link rel="stylesheet" href="../src/css/review.css" >
    <script src="../src/js/lang.js" defer></script>
    <script src="https://kit.fontawesome.com/b3f3cec821.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-content">
          <a href="/main" style="text-decoration: none">
            <span class="logo">
              <img src="../src/assets/logo.png" alt="logo" />
              <h1 id="site_title">Networker</h1>
            </span>
          </a>
          <div class="menu">
            <a href="/main" id="menu_home">홈</a>
            <a href="/views/news.html" id="menu_news">정보</a>
            <a href="/post/list" id="menu_board">자유게시판</a>
            <a href="/views/store.html" id="menu_store">스토어</a>
            <a href="/lawsupport/main" id="menu_law">법률지원</a>
            <a href="/views/review.html" id="menu_review">기업리뷰</a>
          </div>
          <div class="auth-buttons">
            <a href="/views/login.html" id="login">로그인</a>
            <a href="/views/signup.html" id="signup">회원가입</a>
            <div class="profile-icon">
              <a href="/views/profile.html" id="profile-size"
              ><img src="../src/assets/profile.png" alt="Profile"
              /></a>
            </div>
            <div class="language-selector">
              <img src="../src/assets/earth_icon.png" alt="earth" class="earth-icon">
              <label for="languageSelector"></label>
              <select id="languageSelector">
                <option value="en">English</option>
                <option value="ko" selected>한국어</option>
                <option value="zh">中文</option>
                <option value="ja">日本語</option>
                <option value="vi">Tiếng Việt</option>
                <option value="mn">Монгол</option>
                <option value="ru">Русский</option>
              </select>
            </div>
          </div>
        </div>
      </header>

      <main>
          <section id="search-section">
              <div class="sort-search-bar">
                  <div class="search-box-container">
                      <form class="search-box" action="javascript:void(0);" method="get" onsubmit="filterProducts()">
                          <input class="search-text" type="text" placeholder="검색어를 입력하세요" />
                          <button class="search-btn" type="submit">
                              <i class="fa-solid fa-magnifying-glass"></i>
                          </button>
                      </form>
                  </div>
              </div>
          </section>

          <section id="company">
            <div class="content">
              <div class="news-item">
                <a
                  href="https://www.edaily.co.kr/News/Read?newsId=03125846638957472&mediaCodeNo=257&OutLnkChk=Y"
                  target="_blank"
                  ><img id="item1" src="../src/assets/Solution Tech .png" alt="Worker Image"
                /><h3 class="item-name">솔루션 테크</h3></a>
                <div class="news-content">
                  <h2>
                    <div class="rating">
                      <div>⭐⭐</div>
                      <span>2.4</span>
                  </div>
                  </h2>
                  <p>
                    "가족같고 친절한 회사"
                  </p>
                  <a
                    href="review_page.html"
                    >더보기</a
                  >
                 
                </div>
              </div>
              <div class="news-item">
                <a
                  href="https://www.sportsworldi.com/newsView/20240723514703"
                  target="_blank"
                  ><img src="../src/assets/company1.png" alt="Worker Image"
                /><h3 class="item-name">넥스트 테크</h3></a>
                <div class="news-content">
                  <h2>
                    <div class="rating">
                      <div>⭐⭐⭐⭐</div>
                      <span>4</span>
                  </div>
                  </h2>
                  <p>
                    "성장 가능성이 높지만 업무 강도가 높습니다."
                  </p>
                  <a
                    href="https://www.edaily.co.kr/News/Read?newsId=03125846638957472&mediaCodeNo=257&OutLnkChk=Y"
                    >더보기</a
                  >
                </div>
                </div>
              <div class="news-item">
                <a
                  href="https://www.kado.net/news/articleView.html?idxno=1256427"
                  target="_blank"
                  ><img src="../src/assets/company2.png" alt="Worker Image"
                /><h3 class="item-name">퓨처 솔루션즈</h3></a>
                <div class="news-content">
                  <h2>
                    <div class="rating">
                      <div>⭐⭐⭐</div>
                      <span>3</span>
                  </div>
                  </h2>
                  <p>
                    "좋은 동료들과 일할 수 있지만, 조직 문화가 개선되어야 합니다."
                  </p>
                  <a
                    href="https://www.edaily.co.kr/News/Read?newsId=03125846638957472&mediaCodeNo=257&OutLnkChk=Y"
                    >더보기</a
                  >
                </div>
                </div>
              <div class="news-item">
                <a
                  href="https://www.labortoday.co.kr/news/articleView.html?idxno=222683"
                  target="_blank"
                  ><img src="../src/assets/company3.png" alt="Worker Image"
                /><h3 class="item-name">에이스 인더스트리</h3></a>
                <div class="news-content">
                  <h2>
                    <div class="rating">
                      <div>⭐⭐⭐⭐⭐</div>
                      <span>5</span>
                  </div>
                  </h2>
                  <p>
                    "업계 최고 수준의 복지와 업무 환경을 제공합니다."
                  </p>
                  <a
                    href="https://www.edaily.co.kr/News/Read?newsId=03125846638957472&mediaCodeNo=257&OutLnkChk=Y"
                    >더보기</a
                  >
                </div>
                </div>
              <div class="news-item">
                <a href="https://www.sedaily.com/NewsView/2DBRGDWK0T" target="_blank"
                  ><img src="../src/assets/company4.png" alt="Worker Image"
                /><h3 class="item-name">글로벌 이노베이션</h3></a>
                <div class="news-content">
                  <h2>
                    <div class="rating">
                      <div>⭐⭐⭐⭐</div>
                      <span>4</span>
                  </div>
                  </h2>
                  <p>
                    "혁신적인 프로젝트가 많아 배울 점이 많지만, 야근이 잦습니다."
                  </p>
                  <a
                    href="https://www.edaily.co.kr/News/Read?newsId=03125846638957472&mediaCodeNo=257&OutLnkChk=Y"
                    >더보기</a
                  >
                </div>
                </div>
              <div class="news-item">
                <a
                  href="https://www.newsis.com/view/NISX20240717_0002814282"
                  target="_blank"
                  ><img src="../src/assets/company5.png" alt="Worker Image"
                /><h3 class="item-name">스마트 테크놀로지</h3></a>
                <div class="news-content">
                  <h2>
                    <div class="rating">
                      <div>⭐⭐⭐</div>
                      <span>3</span>
                  </div>
                  </h2>
                  <p>
                    "기술적으로 뛰어나지만, 관리 체계가 부족합니다."
                  </p>
                  <a
                    href="https://www.edaily.co.kr/News/Read?newsId=03125846638957472&mediaCodeNo=257&OutLnkChk=Y"
                    >더보기</a
                  >
                </div>
                </div>
            </div>
          </section>
             
      </main>

      <footer>
        <div class="footer-container">
          <ul class="footer-btn">
            <li><a href="#">이용약관</a></li>
            <li><a href="privacy_Policy.html" style="font-weight: bold">개인정보처리방침</a></li>
            <li><a href="#">문의/신고</a></li>
            <li><a href="#">광고안내</a></li>
          </ul>
        </div>
      </footer>
</body>
</html>
