<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networker 회원가입</title>
    <link rel="stylesheet" href="../src/css/signup.css">
    <script src="../src/js/signup.js" defer></script>
    <script src="../src/js/lang.js" defer></script>
    <link rel="icon" href=“../src/assets/logo.png>
    <link rel="stylesheet" href="../src/css/shared.css" />
    <script src="../src/js/darkmode.js" defer></script>
    <script src="../src/js/darkmode.js" defer></script>
</head>
<body>
    <header>
        <div class="header-content">
          <a href="/main" style="text-decoration: none">
            <span class="logo">
              <img src="../src/assets/logo.png" alt="logo" />
              <h1 id="site_title">Networker</h1>
            </span>
          </a>
          <div class="menu">
            <a href="networker.html" id="menu_home">홈</a>
            <a href="news.html" id="menu_news">정보</a>
            <a href="board.html" id="menu_board">자유게시판</a>
            <a href="store.html" id="menu_store">스토어</a>
            <a href="lawsupport.html" id="menu_law">법률지원</a>
            <a href="review.html" id="menu_review">기업리뷰</a>
          </div>
          <div class="auth-buttons">
            <a href="/views/login.html" id="login">로그인</a>
            <a href="/views/signup.html" id="signup">회원가입</a>
            <div class="language-selector">
              <img src="../src/assets/earth_icon.png" alt="earth" class="earth-icon">
              <label for="languageSelector"></label>
              <select id="languageSelector">
                <option value="en">English</option>
                <option value="ko" selected>한국어</option>
                <option value="zh">中文</option>
                <option value="ja">日本語</option>
                <option value="vi">Tiếng Việt</option>
                <option value="mn">Монгол</option>
                <option value="ru">Русский</option>
              </select>
            </div>
            <div class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox" id="darkModeToggle">
                    <span class="slider round"></span>
                </label>
              </div>
          </div>
        </div>
      </header>

<main>
    <div class="email-change-container">
        <h2 class="signup">회원가입</h2>
        <form id="signup-form" action="#" method="post">
            <div class="form-group">
                <label for="nickname" class="nickname_label">닉네임</label>
                <input type="text" id="nickname" name="nickname" required>
            </div>
            <div class="form-group">
                <label for="email" class="email_label">이메일</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="nationality" class="nationality_label">국적</label>
                <select id="nationality" name="nationality" required>
                    <option value="kr">한국</option>
                    <option value="us">United States of America</option>
                    <option value="cn">中國</option>
                    <option value="jp">日本</option>
                    <option value="vn">Cộng hòa xã hội chủ nghĩa Việt Nam</option>
                    <option value="th">ราชอาณาจักรไทย</option>
                    <option value="uz">Oʻzbekiston Respublikasi</option>
                    <option value="ph">Republika ng Pilipinas</option>
                    <option value="etc">other country</option>
                    <!-- 추가적인 옵션을 여기에 추가할 수 있습니다 -->
                </select>
            </div>
            <div class="form-group">
              <label for="password" class="password_label">비밀번호</label>
              <p class="password_criteria_note">※ 비밀번호 조건 : 영문/숫자/특수문자 중 2가지 이상을 포함한 8~20자</p>
              <input type="password" id="password" name="password" class="password_input" placeholder="비밀번호를 입력하세요." required>
              <span id="password-criteria-error" class="error-message"></span>
          </div>
          <div class="form-group">
              <label for="confirm-password" class="confirm_password_label">비밀번호 확인</label>
              <input type="password" id="confirm-password" name="confirm-password" class="confirm_password_input" placeholder="비밀번호를 다시 입력하세요." required>
              <span id="password-match-error" class="error-message"></span>
          </div>
          <button type="submit" class="signup_button">회원가입</button>
          <div class="login-link">
              <a href="login.html" class="login_link">이미 계정이 있으신가요? 로그인</a>
          </div>          
        </form>
    </div>
</main>

<footer>
  <div class="footer-container">
    <ul class="footer-btn">
      <li><a href="#" id="footer_terms">이용약관</a></li>
      <li>
        <a href="/views/Privacy_Policy.html" id="footer_privacy" style="font-weight: bold">개인정보처리방침</a>
      </li>
         <li><a href="/views/inquire.html" id="footer_contact">문의/신고</a></li>
         <li><a href="/views/inquire.html" id="footer_ads">광고안내</a></li>
    </ul>
  </div>
</footer>

</body>
</html>
