<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3f3cec821.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../src/css/store.css">
    <title>네트워커</title>
</head>

<body>
    <header>
        <div class="header-content">
            <a href="networker.html" style="text-decoration: none;">
            <span class="logo">
                <img src="../src/assets/logo.png">
                <h1>Networker</h1>
            </span>
            </a>
            <div class="menu">
                <a href="networker.html">홈</a>
                <a href="news.html">정보</a>
                <a href="board.html">자유게시판</a>
                <a href="store.html">스토어</a>
                <a href="lawsupport.html">법률지원</a>
            </div>
            <div class="auth-buttons">
                <a href="login.html">로그인</a>
                <a href="signup.html">회원가입</a>
                <div class="profile-icon">
                    <a href="profile.html"><img src="../src/assets/profile.png" alt="Profile"></a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="main-bar">
            <div class="main-item">
                <h2 class="main-title">스토어</h2>
            </div>
            <div class="main-item">
                <form class="search-box" action="" method="get">
                    <input class="search-text" type="text" placeholder="상품을 찾아보세요!">
                    <button class="search-btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>

        <section class="section-container">
            <div class="section-product">
                <a href="#">
                    <img class="product-info" src="../src/assets/spice.jpg" alt="spice">
                    <div class="product-info">
                        <p class="product-description">맛있는 향신료 세트 중국산</p>
                        <p class="product-cost">5,000원</p>
                    </div>
                </a>
                <div class="btn-set">
                    <button class="btn-plusminus" onclick="decrease(this)"><i
                            class="fa-solid fa-minus"></i></button>
                    <input class="product-count" type="text" value="0">
                    <button class="btn-plusminus" onclick="increase(this)"><i
                            class="fa-solid fa-plus"></i></button>
                    <button class="btn-cart" onclick="addToCart(this)"><i
                            class="fa-solid fa-cart-shopping"></i></button>
                </div>
            </div>
            <div class="section-product">
                <a href="#">
                    <img class="product-info" src="../src/assets/tea.jpg" alt="tea">
                    <div class="product-info">
                        <p class="product-description">맛있는 인도 홍차</p>
                        <p class="product-cost">7,000원</p>
                    </div>
                </a>
                <div class="btn-set">
                    <button class="btn-plusminus" onclick="decrease(this)"><i
                            class="fa-solid fa-minus"></i></button>
                    <input class="product-count" type="text" value="0">
                    <button class="btn-plusminus" onclick="increase(this)"><i
                            class="fa-solid fa-plus"></i></button>
                    <button class="btn-cart" onclick="addToCart(this)"><i
                            class="fa-solid fa-cart-shopping"></i></button>
                </div>
            </div>
            <div class="section-product">
                <a href="#">
                    <img class="product-info" src="../src/assets/tisu.jpg" alt="tisu">
                    <div class="product-info">
                        <p class="product-description">곽튜브가 추천하는 곽티슈</p>
                        <p class="product-cost">10,000원</p>
                    </div>
                </a>
                <div class="btn-set">
                    <button class="btn-plusminus" onclick="decrease(this)"><i
                            class="fa-solid fa-minus"></i></button>
                    <input class="product-count" type="text" value="0">
                    <button class="btn-plusminus" onclick="increase(this)"><i
                            class="fa-solid fa-plus"></i></button>
                    <button class="btn-cart" onclick="addToCart(this)"><i
                            class="fa-solid fa-cart-shopping"></i></button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <ul class="footer-btn">
                <li><a href="#">이용약관</a></li>
                <li><a href="#" style="font-weight: bold;">개인정보처리방침</a></li>
                <li><a href="#">문의/신고</a></li>
                <li><a href="#">광고안내</a></li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript" src="../src/js/store.js"></script>
</body>

</html>