<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b3f3cec821.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../src/css/store.css" />
    <script src="../src/js/lang.js" defer></script>
    <link rel="stylesheet" href="../src/css/shared.css" />
    <title>네트워커</title>
  </head>

  <body>
    <header>
      <div class="header-content">
        <a href="/main" style="text-decoration: none">
          <span class="logo">
            <img src="../src/assets/logo.png" alt="logo" />
            <h1 id="site_title">Networker</h1>
          </span>
        </a>
        <div class="menu">
          <a href="/main" id="menu_home">홈</a>
          <a href="/views/news.html" id="menu_news">정보</a>
          <a href="/post/list" id="menu_board">자유게시판</a>
          <a href="/views/store.html" id="menu_store">스토어</a>
          <a href="/lawsupport/main" id="menu_law">법률지원</a>
          <a href="/views/review.html" id="menu_review">기업리뷰</a>
        </div>
        <div class="auth-buttons">
          <a href="/views/login.html" id="login">로그인</a>
          <a href="/views/signup.html" id="signup">회원가입</a>
          <div class="profile-icon">
            <a href="/views/profile.html" id="profile-size"
            ><img src="../src/assets/profile.png" alt="Profile"
            /></a>
          </div>
          <div class="language-selector">
            <img
              src="../src/assets/earth_icon.png"
              alt="earth"
              class="earth-icon"
            />
            <label for="languageSelector"></label>
            <select id="languageSelector">
              <option value="en">English</option>
              <option value="ko" selected>한국어</option>
              <option value="zh">中文</option>
              <option value="ja">日本語</option>
              <option value="vi">Tiếng Việt</option>
              <option value="mn">Монгол</option>
              <option value="ru">Русский</option>
            </select>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="main-bar">
        <div class="main-item">
          <h2 class="main-title menu_store">스토어</h2>
        </div>
        <a href="cart.html" class="cart-button-container cart_title">
          <i class="fa-solid fa-cart-shopping"></i>
          장바구니
        </a>
      </div>

      <!-- 배너 -->
      <div class="banner">
        <img src="../src/assets/store_banner1.png" alt="배너 이미지" />
      </div>

      <div class="sort-search-bar">
        <div class="sort-buttons">
          <button class="sort_low_price" onclick="sortProducts('low')">낮은 가격순</button>
          <button class="sort_high_price" onclick="sortProducts('high')">높은 가격순</button>
        </div>
        <div class="search-box-container">
          <form
            class="search-box"
            action="javascript:void(0);"
            method="get"
            onsubmit="filterProducts()"
          >
            <input
              class="search-text"
              type="text"
              placeholder="상품을 찾아보세요!"
            />
            <button class="search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
      </div>

      <section class="section-container" id="product-list">
        <!-- 상품 목록 동적 추가 -->
      </section>
    </main>

    <footer>
      <div class="footer-container">
        <ul class="footer-btn">
          <li><a href="#">이용약관</a></li>
          <li>
            <a href="/views/privacy_Policy.html" style="font-weight: bold"
              >개인정보처리방침</a
            >
          </li>
          <li><a href="/views/inquire.html">문의/신고</a></li>
          <li><a href="/views/inquire.html">광고안내</a></li>
        </ul>
      </div>
    </footer>

    <script type="text/javascript" src="../src/js/store.js"></script>
  </body>
</html>
