<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/shared.css">
    <link rel="stylesheet" href="../src/css/review_page.css">
    <link rel="stylesheet" href="../src/css/write_review.css">
    <script src="../src/js/star.js" defer></script>
    <script src="../src/js/translate.js" defer></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>기업 리뷰하기</title>
</head>
<body>
    <header>
        <div class="header-content">
          <a href="/main" style="text-decoration: none">
            <span class="logo">
              <img src="../src/assets/logo.png" alt="logo" />
              <h1 id="site_title" class="notranslate">Networker</h1>
            </span>
          </a>
          <div class="menu">
            <a href="/main" id="menu_home">홈</a>
            <a href="/views/news.html" id="menu_news">정보</a>
            <a href="/post/list" id="menu_board">자유게시판</a>
            <a href="/views/store.html" id="menu_store">스토어</a>
            <a href="/lawsupport/main" id="menu_law">법률지원</a>
            <a href="/views/review.html" id="menu_review">기업리뷰</a>
          </div>
          <div class="auth-buttons">
            <a href="/views/login.html" id="login">로그인</a>
            <a href="/views/signup.html" id="signup">회원가입</a>
            <div class="profile-icon">
              <a href="/views/profile.html"
                ><img src="../src/assets/profile.png" alt="Profile"
              /></a>
            </div>
            <div id="google_translate_element" style="display: none;"></div>
          <div class="language-selector2">
            <img src="../src/assets/earth_icon.png" alt="earth" class="earth-icon" />
            <select id="languageSelector2">
              <option value="ko">한국어</option>
              <option value="en">English</option>
              <option value="ja">日本語</option>
              <option value="zh-CN">中文(简体)</option>
          </select>
          </div>
        </div>
      </header>

      <main>
        <section class="review-form">
            <h2>기업 리뷰 작성</h2>
            <form action="/submit_review" method="POST">
                <div class="form-group">
                    <label for="headline">회사에 대한 한줄 평</label>
                    <input type="text" id="headline" name="headline" placeholder="한 줄 평을 입력하세요" required>
                </div>
                <div class="form-group">
                    <label for="pros">장점</label>
                    <textarea id="pros" name="pros" placeholder="회사의 장점을 작성하세요" required></textarea>
                </div>
                <div class="form-group">
                    <label for="cons">단점</label>
                    <textarea id="cons" name="cons" placeholder="회사의 단점을 작성하세요" required></textarea>
                </div>
                <div class="form-group">
                    <label for="cons">별점</label>
                    <div class ="star_rating">
                        <span class="star on" value="1"> </span>
                        <span class="star" value="2"> </span>
                        <span class="star" value="3"> </span>
                        <span class="star" value="4"> </span>
                        <span class="star" value="5"> </span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit">리뷰 제출</button>
                </div>
            </form>
        </section>
      </main>

      <footer>
        <div class="footer-container">
          <ul class="footer-btn">
            <li><a href="#">이용약관</a></li>
            <li><a href="/views/Privacy_Policy.html" style="font-weight: bold">개인정보처리방침</a></li>
            <li><a href="#">문의/신고</a></li>
            <li><a href="#">광고안내</a></li>
          </ul>
        </div>
      </footer>
</body>
</html>