<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3f3cec821.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../src/css/lawsupport.css">
    <title>네트워커</title>
</head>

<body>
    <header>
        <div class="header-content">
            <a href="/" style="text-decoration: none;">
                <span class="logo">
                    <img src="../src/assets/logo.png">
                    <h1>Networker</h1>
                </span>
            </a>
            <div class="menu">
                <a href="/">홈</a>
                <a href="/views/news.html">정보</a>
                <a href="/post/list">자유게시판</a>
                <a href="/views/store.html">스토어</a>
                <a href="/lawsupport/main">법률지원</a>
            </div>
            <div class="auth-buttons">
                <a href="/views/login.html">로그인</a>
                <a href="/views/signup.html">회원가입</a>
                <div class="profile-icon">
                    <a href="/views/profile.html"><img src="../src/assets/profile.png" alt="Profile"></a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <table class="community">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성일</th>
                    <th>조회수</th>
                    <th>추천</th>
                </tr>
            </thead>
            <tbody id="post-list"></tbody>
        </table>
        <div class="bottom-box">
            <div class="bottom-btn-box">
                <button>글쓰기</button>
                <button>추천글</button>
                <button id="post-button">글쓰기</button>
            </div>

            <ul id="pagination"></ul>

            <div class="bottom-search-box">
                <div class="dropdown">
                    <select>
                        <option>제목+내용</option>
                        <option>제목</option>
                        <option>내용</option>
                        <option>글쓴이</option>
                    </select>
                </div>
                <form action="/URL데이터를 처리할 URL" method="get">
                    <input class="search-input" type="text" name="query" placeholder="검색어 입력">
                    <button class="search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <ul class="footer-btn">
                <li><a href="#">이용약관</a></li>
                <li><a href="/views/Privacy_Policy.html" style="font-weight: bold;">개인정보처리방침</a></li>
                <li><a href="#">문의/신고</a></li>
                <li><a href="#">광고안내</a></li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript" src="../src/js/lawsupport.js"></script>
</body>

</html>