main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.email-change-container {
    padding: 20px 0;
    max-width: 480px;
    width: 100%;
    margin: 0 auto; /* 가운데 정렬 */
    background-color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    width: 96%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #5D9CA4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #4c8991;
}

p {
    color: #666;
    font-size: 12px;
    text-align: left;
    line-height: 1.5;
    margin-top: 0;
}

/* 푸터 */
footer {
    background-color: #565656;
    height: 30px;
    position: relative;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer-container {
    text-align: center;
}

.footer-btn {
    list-style-type: none;
    color: white;
}

ul.footer-btn a {
    color: white;
}

ul.footer-btn > li {
    float: left;
    margin-left: 5px;
}

.footer-btn li::after {
    content: "|";
    margin-left: 5px;
}

.footer-btn li:last-child::after {
    content: "";
}

.footer-container ul {
    display: inline-block;
    padding: 0;
}
