/* main */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;/* 좌우 여백 추가 */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* 게시판 양식 */
table {
    margin-top: 20px;
    width: 960px;
    border-collapse: collapse;
}

th {
    padding: 5px 0px;
    text-align: center;
    border-top: 4px solid #759465;
    border-bottom: 3px solid #759465;
}

td {
    padding: 5px 0px;
    text-align: center;
    border-bottom: 1px solid #e9ecef;
}

/* 제목 부분만 왼쪽으로 정렬 */
td:nth-child(2) {
    text-align: left;
}

table a {
    text-decoration: none;
}

table a:visited{
    color: transparent;
}

/* 페이지 번호 양식 1페이지 2페이지 3페이지 ... */
main ul {
    display: flex;
    justify-content: center;
    margin: 20 auto;
    padding: 0;
}

main li {
    margin-left: 5px;
    list-style: none;
    cursor: pointer;
}

/* 게시글 밑 모든 버튼의 큰 틀 */
.bottom-box {
    margin: 20px 0;
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 전체글 추천글 글쓰기 버튼 나열 */
.bottom-btn-box {
    display: flex;
    flex-direction: row;
}

.bottom-btn-box button:first-child {
    margin-right: 15px;
}

.bottom-btn-box button:last-child {
    margin-left: auto;
}

/* 전체글 추천글 글쓰기 버튼 디자인 */
.bottom-btn-box button {
    color: #759465;
    background: white;
    border-color: #769900;
    width: 82px;
    height: 35px;
    line-height: 31px;
    font-weight: bold;
}

.bottom-search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
}

.bottom-btn-box button a {
    text-decoration-line: none;
    color: #759465;
}

/* 검색창 및 드롭박스 디자인 */
main form {
    background: #759465;
    width: 350px;
    height: 39px;
    padding: 0;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 드롭박스 */
.dropdown {
    margin-right: 20px;
    width: 96px;
    height: 39px;
    background: #759465;

    display: flex;
    justify-content: center;
    align-items: center;
}

main select {
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: none;
}

/* 검색창 */
.search-input {
    width: 300px;
    height: 28px;
    border: none;
    background: white;
    outline: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.search-btn {
    width: 38px;
    height: 38px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}