main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  /* 좌우 여백 추가 */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-main {
  display: flex;
  background-color: rgb(233, 237, 228);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.news-item-main {
  display: flex;
  align-items: center;
}

.news-item-main img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.news-content-main {
  flex: 1;
}

.news-content-main h2 {
  color: #333333;
}

.news-content-main p {
  margin: 10px 0; 
}

.news-content-main a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.content {
  margin-left: 38px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.news-item {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.news-content {
  flex: 1;
}

.news-content h2 {
  color: black;
}

.news-content p {
  margin: 10px 0;
}

.news-content a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}