main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.nickname-container {
    padding: 20px;
    width: 40%; /* 가로 크기 40%로 조정 */
    margin: 0 auto; /* 가운데 정렬 */
    background-color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #5D9CA4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #4c8991;
}

p {
    color: #666;
    font-size: 12px;
    text-align: left;
    line-height: 1.5;
    margin-top: 0;
}