/* 메인 컨테이너 */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #fff; /* 배경 색상 명확히 지정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    padding-top: 30px;
    margin-top: 20px;
    color: #333;
}

.order-details-container {
    padding: 20px;
    font-size: 16px;
    color: #333;
}

.order-details-container p {
    margin: 10px 0;
}




.product-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.product-table th, .product-table td {
    border: none;
    padding: 15px 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
}

.product-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-left: 20px;
}

.product-table tbody tr {
    display: table-row;
    border-bottom: 1px solid #ddd;
}

.product-table td {
    font-size: medium;
    padding-left: 20px;
    text-align: center;
}

.product-table th:first-child, .product-table td:first-child {
    width: 20%; /* 이미지 */
}

.product-table th:nth-child(2), .product-table td:nth-child(2) {
    width: 40%; /* 상품명 */
}

.product-table th:nth-child(3), .product-table td:nth-child(3) {
    width: 20%; /* 가격 */
}

.product-table th:nth-child(4), .product-table td:nth-child(4) {
    width: 20%; /* 수량 */
}



.product-table td img {
    max-width: 120px;
    height: auto;
}




#product-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#product-list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

#product-list li img {
    max-width: 60px;
    height: auto;
    margin-right: 20px;
}

#product-list li span {
    flex: 1;
    font-size: 14px;
    color: #333;
}

#product-list li span:first-child {
    font-weight: bold;
}


/* 예상 결제 금액 */
.price-summary {
    display: flex; /* Flexbox 사용 */
    justify-content: flex-end; /* 오른쪽 정렬 */
    width: 100%;
}

.summary-table {
    display: inline-table; /* inline-table 사용으로 float 제거 */
    margin: 20px 0;
}

.summary-table td {
    padding: 10px 30px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

.summary-table td:nth-child(1) {
    text-align: left;
}

.summary-table td:nth-child(2) {
    text-align: right;
}

.summary-table .summary-amount {
    font-weight: bold;
}

.summary-table .summary-total td {
    font-size: 20px;
    font-weight: bold;
    border-top: 2px solid #ddd;
}

.summary-total {
    color: #759465;
}


/* 다크 모드 */
.dark-mode h2,
.dark-mode h3,
.dark-mode .order-details-container p,
.dark-mode .summary-total{
    color: #fff;
}

.dark-mode .product-table td{
    background-color: #ffffff21;
    color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
      --text-color: #fff;
      --background-color: #2b2b2b;
    }

    h2, h3, .order-details-container p {
        color: var(--text-color);
    }
}  