/* 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* 배경 색상 명확히 지정 */
}

/* 헤더 */
header {
    background-color: #759465;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* 좌우 여백 추가 */
    line-height: 36px;
}

.logo img {
    vertical-align: middle;
    display: inline;
    height: 36px;
}

.logo h1 {
    vertical-align: middle;
    display: inline;
    margin: 0;
    color: white;
}

/* 메뉴 요소 */
.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 10px 0px;
}

/* 메뉴 hover 시 효과 */
.menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu a:hover::after {
    transform: scaleX(1);
}

/* 로그인, 회원가입, 프로필 버튼 */
.profile-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.profile-icon img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 10%;
    border: solid 1px #fff;
}

/* 메인 컨테이너 */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #fff; /* 배경 색상 명확히 지정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    padding-top: 30px;
    margin-top: 20px;
    color: #333;
}

.empty-list{
    text-align: center;
    padding-top: 30px;
    margin-top: 20px;
    color: #333;
}

.order-history-container {
    padding: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.order-table th, .order-table td {
    border: none;
    padding: 15px 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
}

.order-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-left: 20px;
}

.order-table tbody tr {
    display: table-row;
    border-bottom: 1px solid #ddd;
}

.order-table td {
    padding-left: 20px;
    text-align: center;
}

.order-table th:first-child, .order-table td:first-child {
    width: 10%; /* 주문번호 */
}

.order-table th:nth-child(2), .order-table td:nth-child(2) {
    width: 10%; /* 이미지 */
}

.order-table th:nth-child(3), .order-table td:nth-child(3) {
    width: 40%; /* 주문상품 이름 및 갯수 */
}

.order-table th:nth-child(4), .order-table td:nth-child(4) {
    width: 10%; /* 가격 */
}

.order-table th:nth-child(5), .order-table td:nth-child(5) {
    width: 10%; /* 주문일시 */
}

.order-table td img {
    max-width: 60px;
    height: auto;
}

/* 푸터 */
footer {
    background-color: #565656;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer-container {
    text-align: center;
}

.footer-btn {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-btn li {
    display: inline;
    margin: 0 10px;
}

.footer-btn a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}
