main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.password-container {
    padding: 20px 0;
    max-width: 480px;
    width: 100%; /* 가로 크기 40%로 조정 */
    margin: 0 auto; /* 가운데 정렬 */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    display: inline-block;
    color: #666;
    font-size: 12px;
    text-align: left;
    line-height: 1.5;
    margin-top: 0;
}

.form-group input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #5D9CA4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #4C8991;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

/*

푸터

*/
footer {
    margin-top: 60px;
    background-color: #565656;
    height: 30px;
    position: relative;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer-container {
    text-align: center;
}

.footer-btn {
    list-style-type: none;
    color: white;

}

ul.footer-btn a {
    color: white;
}

ul.footer-btn>li {
    float: left;
    margin-left: 5px;

}

.footer-btn li::after {
    content: "|";
    margin-left: 5px;
}

.footer-btn li:last-child::after {
    content: "";
}

.footer-container ul {
    display: inline-block;
    padding: 0;
}

/* 다크 모드 */
.dark-mode h2,
.dark-mode .form-group label{
    color: #fff;
}

:root {
    color-scheme: light dark;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: #fff;
      --background-color: #2b2b2b;
    }

    h2, .form-group label{
        color: #fff;
    }

}  