/* 기본 스타일 */
/*notosans 토스용 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #759465;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* 좌우 여백 추가 */
    line-height: 36px;
}

.logo img {
    vertical-align: middle;
    display: inline;
    height: 36px;
}

.logo h1 {
    vertical-align: middle;
    display: inline;
    margin: 0;
    color: white;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 10px 0px;
}

.menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu a:hover::after {
    transform: scaleX(1);
}

.auth-buttons a {
    vertical-align: middle;
    margin: 0 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.auth-buttons .profile-icon {
    display: inline-block;
    vertical-align: middle;
}

.auth-buttons .profile-icon img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 10%;
    border: solid 1px white;
}


main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#toss-payments-section{
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}

#payment-button {
    
    width: 100%;
    margin: 30px 24px;
    
    padding: 11px 22px;
    border: none;
    border-radius:  8px;
    
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    

    background-color: #3282f6;
    color: #f9fcff;
    
}

/* 토스 페이먼츠 */
.w-100 {
    width: 100%;
    }
    
    .h-100 {
    height: 100%;
    }
    
    a {
    text-decoration: none;
    text-align: center;
    }
    
    .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    overflow: auto;
    }
    
    .max-w-540 {
    max-width: 540px;
    }
    
    .btn-wrapper {
    background-color: #fff;
    padding: 20px 0;
    }
    
    .btn {
    padding: 11px 0;
    border: none;
    border-radius:  8px;
    
    background-color: #f2f4f6;
    color: #4e5968;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    }
    
    .btn.primary {
    background-color: #3282f6;
    color: #f9fcff;
    }
    
    .text-center {
    text-align: center;
    }
    
    .flex {
    display: flex;
    }
    
    .flex-column {
    display: flex;
    flex-direction: column;
    }
    
    .justify-center {
    justify-content: center;
    }
    
    .justify-between {
    justify-content: space-between;
    }
    
    .align-center {
    align-items: center;
    }
    
    .confirm-loading {
    margin-top: 72px;
    height: 400px;
    justify-content: space-between;
    }
    
    
    .confirm-success {
    display: none;
    margin-top: 72px;
    }
    
    .button-group {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    }
    
    .title {
    margin-top: 32px;
    margin-bottom: 0;
    color: #191f28;
    font-weight: bold;
    font-size: 24px;
    }
    
    .description {
    margin-top: 8px;
    color: #4e5968;
    font-size: 17px;
    font-weight: 500;
    }
    
    .response-section {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
    }
    
    .response-section .response-label {
    font-weight: 600;
    color: #333d48;
    font-size: 17px;
    }
    
    .response-section .response-text {
    font-weight: 500;
    color: #4e5968;
    font-size: 17px;
    padding-left: 16px;
    word-break: break-word;
    text-align: right;
    }
    
    .color-grey {
    color: #b0b8c1;
    }

/*successs.html*/
#confirmPaymentButton{
    font-family: "Noto Sans KR", sans-serif;
}
#confirmPaymentButton:hover{
    background-color: #295dac;
}


/* 푸터 스타일 */
footer {
    background-color: #565656;
    height: 30px;
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    text-align: center;
}

.footer-btn {
    list-style-type: none;
    color: white;
}

ul.footer-btn a {
    color: white;
}

ul.footer-btn > li {
    float: left;
    margin-left: 5px;
}

.footer-btn li::after {
    content: "|";
    margin-left: 5px;
}

.footer-btn li:last-child::after {
    content: "";
}

.footer-container ul {
    display: inline-block;
    padding: 0;
}
