/* main */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    /* 좌우 여백 추가 */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
}

main button {
    background: none;
    border: 2px solid;
    font: inherit;
    border-radius: 5px;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-mod {
    color: black;
    border-color: black;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn-mod:hover,
.btn-mod:focus {
    border-color: #759465;
    background-color: #759465;
    color: #fff;
    box-shadow: inset 3em 3em 0 0 var(--hover);
}

.btn-danger {
    color: black;
    border-color: black;
    background-color: white;
    -webkit-transition: 0.3s; 
    transition: 0.3s;
}

.btn-danger:hover,
.btn-danger:focus {
    border-color: darkred;
    background-color: darkred;
    color: #fff;
    box-shadow: inset 3em 3em 0 0 var(--hover);
}

.text-button {
    color: black;
    border-color: black;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.text-button:hover,
.text-button:focus {
    border-color: #759465;
    background-color: #759465;
    color: #fff;
    box-shadow: inset 3em 3em 0 0 var(--hover);
}

/* 게시글 폭 지정 */
.post {
    width: 960px;
}

/* post의 내용 세로 정렬 */
.content {
    display: flex;
    flex-direction: column;
}

.content div {
    width: 960px;
}

/* 상단 구분선 */
.content div:first-child {
    border-top: 4px solid #759465;
    border-bottom: 3px solid #e9ecef;
}

/* 본문 최소 크기 */
.content div:last-child {
    min-height: 640px;
}

/* 게시글 제목 크기 */
.post-title {
    font-size: 18px;
}

/* 댓글바 상단 구분선 */
.comment {
    border-top: 4px solid #759465;
}

/* 각 댓글 나열 */
.comment div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

/* 댓글 크기 조절 */
.comment p {
    margin: 0;
    padding: 10px;
}

.comment-id {
    display: inline-block;
    width: 160px;
}

.comment-body {
    display: inline-block;
    padding-left: 20px;
    width: 800px;
}

/* 추천 버튼 */
.center-align {
    width: 960px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

/* 수정 삭제버튼 */
.right-align {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
}

/* 댓글 */
.comment-write {
    display: flex;
}

.user-id {
    width: 160px;
}

.input-container {
    width: 800px;
    padding-left: 20px;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.text-input {
    height: 80px;
    width: 800px;
}

.text-button {
    margin-top: 20px;
}


/* 다크 모드 스타일 */
.dark-mode h1, .dark-mode h2, .dark-mode h4, .dark-mode h5, .dark-mode p, .dark-mode #post-content, .dark-mode #post-content p{
    color: #fff;
}

.dark-mode .btn-mod:hover, .dark-mode #comment-button:hover{
    border-color: white;
    background-color: rgba(255, 255, 255, 0.247);
    color: #fff;
    box-shadow: inset 3em 3em 0 0 var(--hover);
}


/* 시스템 다크 모드를 위한 미디어 쿼리 */
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff; /* 다크 모드의 기본 텍스트 색상 */
        --background-color: #2b2b2b; /* 배경 색상 */
    }

    h1, h2, h4, h5, p{
        color: #fff;
    }

    .btn-mod:hover, #comment-button:hover{
        border-color: white;
        background-color: rgba(255, 255, 255, 0.247);
        color: #fff;
        box-shadow: inset 3em 3em 0 0 var(--hover);
    }
}