/* 검색 창 스타일 */
#search-section {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sort-search-bar {
    width: 100%;
}

.search-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {

    border: 1px solid #759465;
    background-color: white;
    width: 500px;
    height: 35px;
    padding: 5px;
    border-radius: 16px;
}

.search-text {
    border: none;
    outline: none;
    font-size: 16px;
    width: 230px;
    height: 100%;
}

.search-btn {
    margin-left: 215px;
    border: none;
    background-color: white;
    height: 100%;
    width: 30px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #759465;
}

.content {
    margin-left: 38px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .review-item {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    }
  
  .review-item img {
    width: 80px;
    height: 40px;
    object-fit: cover;
    float: left;
    margin-top: 10px;
  }

  .review-item a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .review-content {
    flex: 1;
    align-items: center;
  }
  
  .review-content h2 {
    color: black;
  }
  
  .review-content p {
    margin: 10px 0;
  }
  
  .review-content a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
.item-name {
    float: right;
  }

  #item1 {
    width: 100px;
    margin-left: -10px;
  }


.rating {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 16px;
}

.rating div {
    font-size: 0.7em;
}

.rating span {
    font-size: 0.7em;
    margin-left: 8px;
}

/* main */
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  /* 좌우 여백 추가 */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}