/* 검색 창 스타일 */
#search-section {
  margin-top: 20px;
  margin-bottom: 30px;
}

.sort-search-bar {
  width: 100%;
}

.search-box-container {
  display: flex; /* 검색창과 버튼을 가로로 배치 */
  justify-content: center; /* 전체를 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
}

.search-box {
  border: 1px solid #759465;
  background-color: white;
  width: 500px;
  height: 35px;
  padding: 5px;
  /* margin-left: 180px; */
  border-radius: 16px;
  display: flex;
  align-items: center;
  position: relative; /* 상대 위치로 설정 */
}

.search-text {
  border: none;
  outline: none;
  font-size: 16px;
  width: calc(100% - 40px); /* 돋보기를 위한 공간 확보 */
  height: 100%;
  padding-left: 10px;
}

.search-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute; /* 돋보기를 절대 위치로 설정 */
  right: 10px; /* 검색창 오른쪽에 배치 */
  top: 50%;
  transform: translateY(-50%);
}

.search-btn:hover {
  background-color: #759465;
}

/* 버튼 스타일 */
.add-company-button {
  background-color: #4CAF50; /* 버튼 배경색 */
  color: white; /* 버튼 글자색 */
  padding: 10px 20px; /* 버튼 패딩 */
  border: none; /* 버튼 테두리 제거 */
  border-radius: 5px; /* 버튼 둥근 모서리 */
  cursor: pointer; /* 마우스 커서 변경 */
  transition: background-color 0.3s ease; /* 배경색 변경 효과 */
  margin-left: 10px; /* 검색창과의 간격 조정 */
}

.add-company-button:hover {
  background-color: #45a049; /* 호버 시 버튼 배경색 변경 */
}

.content {
    margin-left: 38px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .review-item {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-left: 0px;
    }
  
  .review-item img {
    width: 80px;
    height: 40px;
    object-fit: cover;
    float: left;
    margin-top: 10px;
  }

  .review-item a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .review-content {
    flex: 1;
    align-items: center;
  }
  
  .review-content h2 {
    color: black;
  }
  
  .review-content p {
    margin: 10px 0;
  }
  
  .review-content a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
.item-name {
    float: right;
  }

  #item1 {
    width: 100px;
    margin-left: -10px;
  }


.rating {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 16px;
}

.rating div {
    font-size: 0.7em;
}

.rating span {
    font-size: 0.7em;
    margin-left: 8px;
}

/* main */
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  /* 좌우 여백 추가 */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}