/* 외국어 NotoSans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mongolian&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*   한국어 스포카 한 산스 네오 폰트 */
@font-face { 
  font-family: 'SpoqaHanSansNeo-Regular';      /*'spoqa-han-sans-neo-Regular'*/
  font-style: normal;

  src: url( ../font/SpoqaHanSansNeo-Regular.woff ) format('truetype');
  unicode-range: U+3130-318F, U+AC00-D7A3, /* 한글만 */
}
@font-face { 
  font-family: 'SpoqaHanSansNeo-Thin';
  font-style: normal;
  src: url( ../font/SpoqaHanSansNeo-Thin.woff ) format('truetype');
  unicode-range: U+0020-007E, U+AC00-D7A3;
}
@font-face { 
  font-family: 'SpoqaHanSansNeo-Bold';
  font-style: normal;
  src: url( ../font/SpoqaHanSansNeo-Bold.woff ) format('truetype');
  unicode-range: U+0020-007E, U+AC00-D7A3;
}
@font-face { 
  font-family: 'SpoqaHanSansNeo-Light';
  font-style: normal;
  src: url( ../font/SpoqaHanSansNeo-Light.woff ) format('truetype');
  unicode-range: U+0020-007E, U+AC00-D7A3;
}
@font-face { 
  font-family: 'SpoqaHanSansNeo-Medium';
  font-style: normal;
  src: url( ../font/SpoqaHanSansNeo-Medium.woff ) format('truetype');
  unicode-range: U+0020-007E, U+AC00-D7A3;
}

/* 일본어(한자제외) - meiryo 폰트*/
@font-face {
  font-family: 'meiryo';
  src: url( ../font/meiryo.woff) format('truetype');
  unicode-range: U+3040-309F, U+30A0-30FF, U+FF66-FF9F;
}

/* 폰트 설정 */
header{
  font-family: 'SpoqaHanSansNeo-Regular', 'meiryo', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Mongolian', 'Noto Sans Thai', 'Noto Sans', 'sans-serif';
  font-weight: 500;
}
main{
  font-family: 'SpoqaHanSansNeo-Regular', 'meiryo', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Mongolian', 'Noto Sans Thai', 'Noto Sans', 'sans-serif';
  font-weight: 400;
}
footer{
  font-family: 'SpoqaHanSansNeo-Thin', 'meiryo', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Mongolian', 'Noto Sans Thai', 'Noto Sans', 'sans-serif';
  font-weight: 100;
}

/* 기본 스타일 */
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* 헤더*/
header {
  background-color: #759465;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  /* 좌우 여백 추가 */
  line-height: 36px;
}

.logo img {
  vertical-align: middle;
  display: inline;
  height: 36px;
}

.logo h1 {
  vertical-align: middle;
  display: inline;
  margin: 0;
  color: white;
}

/* 메뉴 요소*/
.menu a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  position: relative;
  padding: 10px 0px;
}

/*메뉴 hover시 효과*/

.menu a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu a:hover::after {
  transform: scaleX(1);
}


/* 로그인, 회원가입, 프로필 버튼 */
.auth-buttons a {
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
#login, #signup {
  margin: 0 5px;
}

.auth-buttons .profile-icon {
  display: inline-block;
  vertical-align: middle;
}

.auth-buttons .profile-icon img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 10%;
  border: solid 1px white;
}

/* 언어 변경 스타일 */

.language-selector {
  display: inline-block;
  vertical-align: middle;
  position: relative; /* 위치 조정 가능하게 설정 */
}

.language-selector > .earth-icon {
  width: 35px;
  height: auto;
  margin-top: 5px; /* 지구본 위치를 아래로 내리기 */
  display: inline-block;
  vertical-align: middle;
}

#languageSelector {
  margin-bottom: 0;
  width: 76px;
  display: inline-block;
  vertical-align: middle;
}

.language-selector label {
  color: white;
  display: inline-block;
  vertical-align: middle;
}


.language-selector2 {
  display: inline-block;
  vertical-align: middle;
  position: relative; /* 위치 조정 가능하게 설정 */
}

.language-selector2 > .earth-icon {
  width: 35px;
  height: auto;
  margin-top: 5px; /* 지구본 위치를 아래로 내리기 */
  display: inline-block;
  vertical-align: middle;
}

#languageSelector2 {
  margin-bottom: 0;
  width: 76px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#languageSelector2 option {
  font-size: 14px;
}

/*

푸터

*/
footer {
  background-color: #565656;
  height: 30px;
  position: relative;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.footer-container {
  text-align: center;
}

.footer-btn {
  list-style-type: none;
  color: white;

}

ul.footer-btn a {
  color: white;
}

ul.footer-btn>li {
  float: left;
  margin-left: 5px;

}

.footer-btn li::after {
  content: "|";
  margin-left: 5px;
}

.footer-btn li:last-child::after {
  content: "";
}

.footer-container ul {
  display: inline-block;
  padding: 0;
}

/* Google Translate Toolbar 숨기기 */
body > .skiptranslate > iframe.skiptranslate {
  display: none;
}

/* Google Translate 배너 및 닫기 버튼 숨기기 */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

/* 도구 막대가 만든 여백 제거 */
body {
  top: 0px !important; 
}
