/* 외국어 NotoSans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mongolian&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*   한국어 스포카 한 산스 네오 폰트 */
@font-face { 
  font-family: 'SpoqaHanSansNeo-Regular';      /*'spoqa-han-sans-neo-Regular'*/
  font-style: normal;

  src: url( ../font/SpoqaHanSansNeo-Regular.woff ) format('truetype');
  unicode-range: U+3130-318F, U+AC00-D7A3, /* 한글만 */
}
@font-face { 
  font-family: 'SpoqaHanSansNeo-Thin';
  font-style: normal;
  src: url( ../font/SpoqaHanSansNeo-Thin.woff ) format('truetype');
  unicode-range: U+0020-007E, U+AC00-D7A3;
}
@font-face { 
  font-family: 'SpoqaHanSansNeo-Bold';
  font-style: normal;
  src: url( ../font/SpoqaHanSansNeo-Bold.woff ) format('truetype');
  unicode-range: U+0020-007E, U+AC00-D7A3;
}
@font-face { 
  font-family: 'SpoqaHanSansNeo-Light';
  font-style: normal;
  src: url( ../font/SpoqaHanSansNeo-Light.woff ) format('truetype');
  unicode-range: U+0020-007E, U+AC00-D7A3;
}
@font-face { 
  font-family: 'SpoqaHanSansNeo-Medium';
  font-style: normal;
  src: url( ../font/SpoqaHanSansNeo-Medium.woff ) format('truetype');
  unicode-range: U+0020-007E, U+AC00-D7A3;
}

/* 일본어(한자제외) - meiryo 폰트*/
@font-face {
  font-family: 'meiryo';
  src: url( ../font/meiryo.woff) format('truetype');
  unicode-range: U+3040-309F, U+30A0-30FF, U+FF66-FF9F;
}

/* 폰트 설정 */
header{
  font-family: 'SpoqaHanSansNeo-Regular', 'meiryo', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Mongolian', 'Noto Sans Thai', 'Noto Sans', 'sans-serif';
  font-weight: 500;
}
main{
  font-family: 'SpoqaHanSansNeo-Regular', 'meiryo', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Mongolian', 'Noto Sans Thai', 'Noto Sans', 'sans-serif';
  font-weight: 400;
}
footer{
  font-family: 'SpoqaHanSansNeo-Thin', 'meiryo', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Mongolian', 'Noto Sans Thai', 'Noto Sans', 'sans-serif';
  font-weight: 100;
}

/* 기본 스타일 */
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* 메인 */
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* 헤더*/
header {
  background-color: #759465;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  /* 좌우 여백 추가 */
  line-height: 36px;
}

.logo{
  display: inline-block;
  width: 200px;
}

.logo img {
  vertical-align: middle;
  display: inline;
  height: 36px;
}

.logo h1 {
  vertical-align: middle;
  display: inline;
  margin: 0;
  color: white;
}

/* 메뉴 요소*/
.menu a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  position: relative;
  padding: 10px 0px;
}

/*메뉴 hover시 효과*/

.menu a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu a:hover::after {
  transform: scaleX(1);
}


/* 로그인, 회원가입, 프로필 버튼 */
.auth-buttons a {
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
#login, #signup {
  margin: 0 5px;
}

.auth-buttons .profile-icon {
  display: inline-block;
  vertical-align: middle;
}

.auth-buttons .profile-icon img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 10%;
  border: solid 1px white;
}

/* 언어 변경 스타일 */

.language-selector{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 130px;
}

.language-selector select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgba(255, 255, 255, 0.2); /* 반투명 배경 */
  backdrop-filter: blur(10px); /* 블러 효과 */
  border: 1px solid rgba(255, 255, 255, 0.3); /* 투명한 테두리 */
  border-radius: 5px; /* 둥근 모서리 */
  padding: 5px;
  font-size: 16px;
  color: #fff; /* 텍스트 색상 */
  outline: none;
  width: 150px; /* 너비 조정 */
}

.language-selector:after {
  content: '\25BC'; /* 아랫방향 화살표 유니코드 */
  font-size: 16px; /* 아이콘 크기 */
  color: #000; /* 화살표 색상 */
  position: absolute;
  right: 10px; /* 오른쪽에서의 거리 */
  top: 50%;
  transform: translateY(-50%); /* 수직 중앙 정렬 */
  pointer-events: none;
}

.language-selector select option {
  background: rgb(117 148 101); /* 배경색 */
  color: #fff; /* 글자색 */
  padding: 5px;
}


.language-selector select:focus {
  border-color: rgba(255, 255, 255, 0.6); /* 포커스 시 테두리 색 변경 */
}
.language-selector select::-ms-expand {
  display: none; /* IE 화살표 숨기기 */
}

.language-selector {
  position: relative;
  display: inline-block;
}

.language-selector:after {
  content: '\25BC'; /* 아랫방향 화살표 유니코드 */
  font-size: 10px; /* 아이콘 크기 */
  color: #000; /* 화살표 색상 */
  position: absolute;
  right: 20px; /* 오른쪽에서의 거리 */
  top: 50%;
  transform: translateY(-50%); /* 수직 중앙 정렬 */
  pointer-events: none;
}




.language-selector {
  display: inline-block;
  vertical-align: middle;
  position: relative; /* 위치 조정 가능하게 설정 */
}

.language-selector > .earth-icon {
  width: 35px;
  height: auto;
  margin-top: 5px; /* 지구본 위치를 아래로 내리기 */
  display: inline-block;
  vertical-align: middle;
}

#languageSelector {
  margin-bottom: 0;
  width: 76px;
  display: inline-block;
  vertical-align: middle;
}

.language-selector label {
  color: white;
  display: inline-block;
  vertical-align: middle;
}


.language-selector2 {
  display: inline-block;
  vertical-align: middle;
  position: relative; /* 위치 조정 가능하게 설정 */
}

.language-selector2 > .earth-icon {
  width: 35px;
  height: auto;
  margin-top: 5px; /* 지구본 위치를 아래로 내리기 */
  display: inline-block;
  vertical-align: middle;
}

#languageSelector2 {
  margin-bottom: 0;
  width: 76px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#languageSelector2 option {
  font-size: 14px;
}

/* 다크모드 토글 스위치 스타일 */
.auth-buttons {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  gap: 10px;
}

.dark-mode-toggle{
  height: 40px;
  vertical-align: middle; /* 수직 가운데 정렬 */
}
/* 다크모드 토글 스위치 스타일 */
.switch {
  position: relative;
  display: inline-block;
  width: 50px; /* 버튼 크기 조정 */
  height: 26px;
  vertical-align: middle; /* 수직 가운데 정렬 */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "☀️"; /* 기본 아이콘: 태양 */
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + .slider {
  background-color: #5D9CA4;
}

input:checked + .slider:before {
  transform: translateX(24px); /* 아이콘 이동 거리 */
  content: "🌙"; /* 체크된 상태 아이콘: 달 */
}

#darkModeToggle{
  opacity: 0;
}

/*

푸터

*/
footer {
  background-color: #565656;
  height: 30px;
  position: relative;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.footer-container {
  text-align: center;
}

.footer-btn {
  list-style-type: none;
  color: white;

}

ul.footer-btn a {
  color: white;
}

ul.footer-btn>li {
  float: left;
  margin-left: 5px;

}

.footer-btn li::after {
  content: "|";
  margin-left: 5px;
}

.footer-btn li:last-child::after {
  content: "";
}

.footer-container ul {
  display: inline-block;
  padding: 0;
}

/* Google Translate Toolbar 숨기기 */
body > .skiptranslate > iframe.skiptranslate {
  display: none;
}

/* Google Translate 배너 및 닫기 버튼 숨기기 */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

/* 도구 막대가 만든 여백 제거 */
body {
  top: 0px !important; 
}

/* 기본 다크모드 스타일 */
:root {
  --text-color: #000;
  --background-color: #f9f9f9;
}

:root.dark-mode {
  --text-color: #000;
  --background-color: #2b2b2b;
}

/* 다크모드 테마적용 시 */
body {
  background-color: var(--background-color);
}

main {
  background-color: #fff;
}

.dark-mode main {
  background-color: #759465;
}

.dark-mode p, .dark-mode th{
  color: var(--text-color);
}

/* 미디어 쿼리: 시스템 다크모드 */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #2b2b2b;
  }

  body {
    background-color: var(--background-color);
  }

  main {
    background-color: #425339;
  }

  li, p, th {
    color: var(--text-color);
  }
}

#login-icon{
  display: none;
}

/* 반응형 헤더 스타일 */
@media (max-width: 1090px) {
  #login, #signup, .profile-icon img{
    display: none;
  }
  #login-icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: middle;
  }
}

@media (max-width: 745px) {
  #login, #signup, .profile-icon img{
    display: none;
  }
  #login-icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: middle;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: block;
    position: absolute;
    background-color: white; /* 드롭다운 배경색 */
    width: 100%; /* 메뉴 너비 */
    top: 60px; /* 헤더 아래로 떨어지게 위치 조정 */
    left: 0;
    z-index: 1000; /* 다른 요소 위에 나타나도록 z-index 설정 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
  }

  .menu a {
    display: block;
    padding: 15px; /* 메뉴 항목에 패딩 추가 */
    color: #333; /* 텍스트 색상 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    border-bottom: 1px solid #eaeaea; /* 항목 구분선 */
  }

  .menu a:hover {
    background-color: #f9f9f9; /* 호버 시 배경색 변경 */
  }
  
  .menu.active{
    margin-top: 16px;
  }
}

/* 500px 이하에서 auth-buttons 위치 조정 */
@media (max-width: 500px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .auth-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  .auth-buttons > * {
    margin: 0;
  }
}