/* 메인 */
main {
    max-width: 780px;
    margin: 20px auto;
    padding: 20px; /* 좌우 여백 추가 */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center; /* 텍스트 가운데 정렬 */
}

/* 로그인 박스 */
.login-container {
    padding: 100px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: inline-block;
    margin-top: 20px;
}

.login-form {
    width: 80%;
    max-width: 300px;
    text-align: left; /* 폼 내부 텍스트 왼쪽 정렬 */
}

.login-form h2 {
    margin-bottom: 20px;
    color: #000;
    text-align: center; /* 제목 가운데 정렬 */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

.form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.3);
    color: #000;
}

button {
    width: 83%;
    padding: 10px;
    background: #5D9CA4;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #4C8991;
}

.register-link {
    margin-top: 15px;
    margin-left: 8%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.register-link a {
    color: #000;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/* 회원가입 조건, 에러 메시지 */
p {
    display: inline-block;
    color: #666;
    font-size: 12px;
    text-align: left;
    line-height: 1.5;
    margin-top: 0;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.login-form, .register-form {
    width: 80%;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
}

.login-form h2, .register-form h2 {
    margin-bottom: 20px;
    color: #000;
}

.form-group {
    margin-bottom: 15px;
}


.form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.3);
    color: #000;
}

.form-group select {
    width: 83%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.3);
    color: #000;
}

button {
    width: 83%;
    padding: 10px;
    background: #5D9CA4;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #4C8991;
}

.register-link, .login-link {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.register-link a, .login-link a {
    color: #000;
    text-decoration: none;
}

.login-link a {
    margin-left: 8%;
}

.register-link a:hover, .login-link a:hover {
    text-decoration: underline;
}

.info-section {
    flex: 2;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
    color: #000;
}

.info-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #000;
}

.info-section p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #000;
}

.language-select {
    margin-top: 20px;
}

.language-select label {
    font-size: 16px;
    margin-right: 10px;
    color: #000;
}

.language-select select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: rgba(255, 255, 255, 0.3);
    color: #000;
    font-size: 16px;
}


/* 다크모드 테마적용 시*/
.dark-mode h2,
.dark-mode, .form-group label,
.dark-mode .login-link a{
    color: #fff;
}

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #2b2b2b;
  }

  .form-group label,
  .login-link a{
    color: var(--text-color);
  }
}
