.review-form {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 1000px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 50px;
}

.review-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 150px;
}

.form-group button {
    background-color: #759465;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
}

.form-group button:hover {
    background-color: #005fa3;
}

.star_rating {
    width: 100%; 
    box-sizing: border-box; 
    display: inline-flex; 
    float: left;
    flex-direction: row; 
    justify-content: flex-start;
  }
  .star_rating .star {
    width: 25px; 
    height: 25px; 
    margin-right: 10px;
    display: inline-block;
    background: url('../assets/star_off.png') no-repeat; 
    background-size: 100%; 
    box-sizing: border-box; 
  }
  .star_rating .star.on {
    width: 25px; 
    height: 25px;
    margin-right: 10px;
    display: inline-block; 
    background: url('../assets/star_on.png') no-repeat;
    background-size: 100%; 
    box-sizing: border-box; 
  }